<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: I18n.t("cookies.title")
         }
%>
<%# These panels are hidden by default and made visible on the client side on form submission. See related JS in cookie-settings.js and CSS in _cookie-banner.scss %>

<div class="nlhf-panel nlhf-panel--border-wide nlhf-alert--success govuk-!-margin-bottom-6 nlhf-cookie-banner__confirmation" id="nlhf-cookie-settings-confirmation">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      <%= t('cookies.cookies_saved_flash.headings.cookies_saved') %>
  </h2>
  <p class="govuk-body"><a class="govuk-link nlhf-cookie-settings__prev-page">
    <%= t('cookies.cookies_saved_flash.content.go_back') %> </a>
  </p>
</div>

<div id="nlhf-cookie-settings-error" class="nlhf-cookie-settings__error">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
       role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t('cookies.cookies_saved_flash.headings.error') %>
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#nlhf-cookie-settings"><%= t('cookies.cookies_saved_flash.content.select') %> </a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="nlhf-banner" id="nlhf-cookie-settings-warning">


  <div class="nlhf-banner__message">

    <h2 class="govuk-heading-m">
      <%= t('cookies.cookies_saved_flash.headings.cookies_not_saved') %>
    </h2>
    <p class="govuk-body"><%= t('cookies.cookies_saved_flash.content.sets_cookies') %></p>
  </div>

</div>

<%# End cookie message panels %>

<h1 class="govuk-heading-l">
  <%= t('cookies.headings.change_settings') %>
</h1>

<p class="govuk-body">
  <%= t('cookies.content.cookies_are') %>
</p>
<p class="govuk-body">
  <%= t('cookies.content.we_use_cookies') %>
</p>

<h2 class="govuk-heading-l">
  <%= t('cookies.sub_headings.cookie_settings') %>
</h2>
<p class="govuk-body">
  <%= t('cookies.content.two_cookie_types') %>
</p>
<h3 class="govuk-heading-m">
  <%= t('cookies.sub_headings.essential_cookies') %>
</h3>
<p class="govuk-body">
  <%= t('cookies.content.essential_cookies.desc') %>
</p>
<ul class="govuk-list govuk-list--bullet">
  <li> <%= t('cookies.content.essential_cookies.1') %></li>
  <li><%= t('cookies.content.essential_cookies.2') %></li>
</ul>
<h3 class="govuk-heading-m">
  <%= t('cookies.sub_headings.measure_website_use') %>
</h3>
<p class="govuk-body">
   <%= t('cookies.content.with_permission') %>
</p>
<p class="govuk-body">
  <%= t('cookies.content.hotjar_not_allowed') %>
</p>
<p class="govuk-body">
   <%= t('cookies.content.hotjar_stores.desc') %>
</p>
<ul class="govuk-list govuk-list--bullet">
  <li> 
    <%= t('cookies.content.hotjar_stores.1') %> 
  </li>
  <li> 
    <%= t('cookies.content.hotjar_stores.2') %> 
  </li>
  <li>  
    <%= t('cookies.content.hotjar_stores.3') %> 
  </li>
  <li>  
    <%= t('cookies.content.hotjar_stores.4') %>
    <ul>
      <li> 
        <%= t('cookies.content.hotjar_stores.5') %> 
      </li>
    </ul>
  </li>
</ul>

<%# Selected value is injected by JS, using ID and data-module attributes %>
<div data-module="nlhf-cookie-settings">
  <form id="nlhf-cookie-settings">
    <div class="govuk-form-group" id="nlhf-cookie-settings-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <%= t('cookies.content.accept_cookies.question') %>
        </legend>
        <span class="govuk-error-message nlhf-cookie-settings__error">
          <span class="govuk-visually-hidden"> 
            <%= t('cookies.content.accept_cookies.error') %>
          </span> 
          <%= t('cookies.content.accept_cookies.error_msg') %>
      </span>
        <div class="govuk-radios govuk-radios--inline" id="nlhf-cookie-settings-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cookie-settings-1" name="cookies-analytics" type="radio" value="On">
            <label class="govuk-label govuk-radios__label" for="cookie-settings-1">
              <%= t('cookies.content.accept_cookies.yes') %>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="cookie-settings-2" name="cookies-analytics" type="radio" value="Off">
            <label class="govuk-label govuk-radios__label" for="cookie-settings-2">
              <%= t('cookies.content.accept_cookies.no') %>
            </label>
          </div>
        </div>
      </fieldset>

    </div>
    <p class="govuk-body"><%=link_to( 
      t('cookies.content.btn.link_txt'), 
      help_cookie_details_path)%>
    </p>
    <%= render(ButtonComponent.new(
        text: t('cookies.content.btn.desc')
    )) %>
  </form>
</div>