<div class="govuk-character-count" data-module="govuk-character-count"
  data-maxwords="500">

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    model_object.errors[:difference].any? %>">

    <h1 class="govuk-label-wrapper">

      <span class="govuk-caption-xl">
        <%= t('views.funding_application.common.about_your_project') %>
      </span>

      <%=
        form_object.label :difference,
        t('difference.page_heading'),
        class: "govuk-label govuk-label--xl"
      %>

    </h1>

    <span id="<%= model_object_name %>_difference-hint" class="govuk-hint">
      <%= t('difference.page_hint') %>
    </span>

    <%=
      render(
        partial: 'partials/form_input_errors',
        locals: {
          form_object: model_object,
          input_field_id: :difference
        }
      ) if model_object.errors[:difference].any?
    %>

    <%=
      form_object.text_area :difference,
      rows: 10,
      class: "govuk-textarea govuk-js-character-count " \
        "#{'govuk-input--error' if 
          model_object.errors[:difference].any?}",
      "aria-describedby" => "#{model_object_name}_difference-info " \
        "#{model_object_name}_difference-hint"
    %>

    <span id="<%= model_object_name%>_difference-info"
      class="govuk-hint govuk-character-count__message" aria-live="polite">
      <%= t('generic.word_count', max_words: 500) %>
    </span>

  </div>

</div>
