<div class="govuk-character-count" data-module="govuk-character-count"
  data-maxwords="300">

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    model_object.errors[:involvement_description].any? %>">

    <h1 class="govuk-label-wrapper">

      <span class="govuk-caption-xl">
        <%= t('views.funding_application.common.about_your_project') %>
      </span>

      <%=
        form_object.label :involvement_description,
        t('application.involvement.page_heading'),
        class: "govuk-label govuk-label--xl"
      %>

    </h1>

    <div class="govuk-inset-text">
      <%= t('application.involvement.text.1') %>
    </div>

    <details class="govuk-details" data-module="govuk-details">

      <summary class="govuk-details__summary">

        <span class="govuk-details__summary-text">
          <%= t('application.involvement.text.3') %>
        </span>

      </summary>

      <div class="govuk-details__text">

        <p class="govuk-body">
          <%= t('application.involvement.text.4') %>
        <p>

        <p class="govuk-body">
          <%= t('application.involvement.text.5') %>
        </p>

      </div>

    </details>

    <span id="<%= model_object_name %>_involvement_description-hint" class="govuk-hint">
      <%= t('application.involvement.text.2') %>
    </span>

    <%=
      render(
        partial: "partials/form_input_errors",
        locals: {
          form_object: model_object,
          input_field_id: :involvement_description
        }
      ) if model_object.errors[:involvement_description].any?
    %>

    <%=
      form_object.text_area :involvement_description,
      rows: 10,
      class: 'govuk-textarea govuk-js-character-count ' \
        "#{'govuk-input--error' if model_object.errors[:involvement_description].any?}",
        'aria-describedby' => "#{ model_object_name }_involvement_description-" \
          "info #{ model_object_name }_involvement_description-hint"
    %>

    <span id="<%= model_object_name %>_involvement_description-info"
      class="govuk-hint govuk-character-count__message" aria-live="polite">
      <%= t('generic.word_count', max_words: 300) %>
    </span>

  </div>

</div>
