<div class="govuk-character-count" data-module="govuk-character-count"
  data-maxwords="500">

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    model_object.errors[:jobs_or_apprenticeships_description].any? %>"
    id="jobs_or_apprenticeships_description-form-group">

    <h1 class="govuk-label-wrapper">

      <span class="govuk-caption-xl">
        <%= t('views.funding_application.common.about_your_project') %>
      </span>

      <%=
        form_object.label :jobs_or_apprenticeships_description,
        t('jobs.page_heading'),
        class: 'govuk-label govuk-label--xl'
      %>

    </h1>

    <div class="govuk-hint"
      id="<%= model_object_name %>jobs_or_apprenticeships_description-hint">
      <%= t('jobs.page_hint') %>
    </div>

    <%=
      render(
        partial: "partials/form_input_errors",
        locals: {
          form_object: model_object,
          input_field_id: :jobs_or_apprenticeships_description
          }
      ) if model_object.errors[:jobs_or_apprenticeships_description].any?
    %>

    <div id="jobs_or_apprenticeships_description-errors"></div>

    <%=
      form_object.text_area :jobs_or_apprenticeships_description,
      rows: 10,
      class: "govuk-textarea govuk-js-character-count #{'govuk-input--error' if
        model_object.errors[:jobs_or_apprenticeships_description].any?}",
      'aria-describedby' => "#{ model_object_name }_jobs_or_apprenticeships_" \
        "description-info #{ model_object_name }_jobs_or_apprenticeships_" \
        'description-hint'
    %>

    <span id="<%= model_object_name%>_jobs_or_apprenticeships_description-info"
      class="govuk-hint govuk-character-count__message" aria-live="polite">
      <%= t('generic.word_count', max_words: 500) %>
    </span>

  </div>

</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-6">
      <h2 class="govuk-fieldset__heading">
        <%= t('jobs.page_sub_heading') %>
      </h2>
    </legend>

    <div class="govuk-form-group nlhf-highlight-content govuk-!-margin-bottom-6">

      <div class="govuk-form-group <%= "govuk-form-group--error" if
        model_object.errors[:job_description_files].any? %>"
        id="job_description_files-form-group" data-form-group="file">

        <%=
          render(
            partial: 'partials/form_group_errors',
            locals: {
              form_object: model_object
            }
          ) if model_object.errors[:job_description_files].any?
        %>

        <div class="govuk-form-group">

          <%=
            form_object.label :job_description_files,
            t('jobs.labels.add_your_job_descriptions'),
            class: 'govuk-heading-m nlhf-content-highlight__title'
          %>

          <div id="job_description_files-errors"></div>

          <%=
            form_object.file_field :job_description_files,
            multiple: true,
            direct_upload: true,
            class: "govuk-file-upload #{"govuk-file-upload--error" if
              model_object.errors.any?}",
            'data-input-identifier': 'file',
            'data-attribute': :job_description_files,
            'data-model': :open_medium,
            'autocomplete' => 'off'
          %>

          <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
          for the reasoning behind this workaround %>
          <input type="hidden" name="ieworkaround">

        </div>
    
    </div>

    <div class="govuk-form-group">

      <%=
        render(
          ButtonComponent.new(
            text: t('jobs.buttons.add_job_descriptions'),
            classes: 'govuk-button--secondary',
          )
        )
      %>

    </div>


    <% unless model_object.job_description_files.attached? %>

      <p class="govuk-body">
        <%= t('jobs.no_job_description_files') %>
      </p>

    <% else %>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header">
              <%= t("jobs.job_description_files") %>
            </th>

          </tr>

        </thead>

        <tbody class="govuk-table__body">

        <% model_object.job_description_files.each do |jdf| %>

          <tr>

            <td>

              <%=
                link_to(
                  jdf.blob.filename,
                  rails_blob_path(
                    jdf,
                    disposition: 'attachment'
                  )
                )
              %>

            </td>

          </tr>

        <% end %>

        </tbody>

      </table>

    <% end %>

  </fieldset>

</div>
