<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
      <h1 class="govuk-fieldset__heading">
          <%= t('work_briefs.page_heading') %>
      </h1>
    </legend>

    <div class="govuk-hint">
      <%= t('work_briefs.page_hint') %>
    </div>

    <div class="govuk-form-group nlhf-highlight-content govuk-!-margin-bottom-6">

      <div class="govuk-form-group" id="work_brief_files-form-group"
        data-form-group="file">

        <%=
          render(
            partial: 'partials/form_group_errors',
            locals: {
              form_object: model_object
            }
          ) if model_object.errors.any?
        %>

        <div class="govuk-form-group">

          <%=
            form_object.label :work_brief_files,
            t('work_briefs.labels.add_your_work_briefs'),
            class: 'govuk-heading-m nlhf-content-highlight__title'
          %>

          <div id="work_brief_files-errors"></div>

          <%=
            form_object.file_field :work_brief_files,
            multiple: true,
            direct_upload: true,
            class: "govuk-file-upload #{"govuk-file-upload--error" if
              model_object.errors.any?}",
            'data-input-identifier': 'file',
            'data-attribute': :work_brief_files,
            'data-model': :open_medium,
            'autocomplete' => 'off'
          %>

          <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
          for the reasoning behind this workaround %>
          <input type="hidden" name="ieworkaround">

        </div>
    
    </div>

    <div class="govuk-form-group">

      <%=
        render(
          ButtonComponent.new(
            text: t('work_briefs.buttons.add_work_briefs'),
            classes: 'govuk-button--secondary',
          )
        )
      %>

    </div>


    <% unless model_object.work_brief_files.attached? %>

      <p class="govuk-body">
        <%= t('work_briefs.no_work_brief_files') %>
      </p>

    <% else %>

      <table class="govuk-table">

        <thead class="govuk-table__head">

          <tr class="govuk-table__row">

            <th scope="col" class="govuk-table__header">
              <%= t("work_briefs.work_brief_files") %>
            </th>

          </tr>

        </thead>

        <tbody class="govuk-table__body">

        <% model_object.work_brief_files.each do |wb| %>

          <tr>

            <td>

              <%=
                link_to(
                  wb.blob.filename,
                  rails_blob_path(
                    wb,
                    disposition: 'attachment'
                  )
                )
              %>

            </td>

          </tr>

        <% end %>

        </tbody>

      </table>

    <% end %>

  </fieldset>

</div>
