<%# is_still_risk description textbox start%>
<div class="govuk-character-count" data-module="govuk-character-count"
  data-maxwords="50">

  <div class="govuk-form-group <%= "#{'govuk-form-group--error' if
    @risk.errors[model_attribute].any?}" %>">

    <%=
      form.label model_attribute,
      heading,
      class: "govuk-heading-s"
    %>

    <%=
      render partial: "partials/form_input_errors",
      locals: {
        form_object: @risk,
        input_field_id: model_attribute
        } if @risk.errors[model_attribute].any?
    %>

    <%=
      form.text_area model_attribute,
      rows: 5,
      class:"govuk-textarea  #{'govuk-js-character-count' if I18n.locale == :"en-GB"} " \
      "#{' govuk-textarea--error' if
          @risk.errors[model_attribute].any?}",
      "aria-describedby" => "progress_update_risk_#{model_attribute}-info"
    %>

    <div id=<%="progress_update_risk_#{model_attribute}-info"%>
      class="govuk-hint govuk-character-count__message"
      aria-live="polite">
      <%= t('generic.word_count', max_words: 50) %>
    </div>

  </div>

</div>
<%# description textbox end%>
