<%=
  render(
    partial: "partials/page_title",
    locals: {
      model_object: @funding_application,
      page_title: t('agreement.submitted.signed.page_title')
    }
  )
%>

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
  <h1 class="govuk-panel__title">
    <%= t('agreement.submitted.signed.page_heading') %>
  </h1>
</div>

<h2 class="govuk-heading-l">
  <%= t('agreement.submitted.sub_headings.what_happens_next') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.submitted.signed.after_receipt') %>
</p>


<p class="govuk-body">
  <%= t('agreement.submitted.signed.what_next_applicant') %>
</p>

<%=
  render(
    ButtonComponent.new(
        element: "a",
        href: destroy_user_session_path,
        text: 'Sign out',
        data_method: 'delete'
    )
  )
%>
