<p class="govuk-body">
  <%= t('agreement.terms.additional_competitive_tendering.in_some_circumstances') %>
</p>

<ul class="govuk-list govuk-list--bullet">

  <li>
    <%= t('agreement.terms.additional_competitive_tendering.price_less_than_10k') %>
  </li>

  <li>
    <%= t('agreement.terms.additional_competitive_tendering.a_framework_agreement') %>
  </li>

  <li>
    <%= t('agreement.terms.additional_competitive_tendering.project_contract_in_place') %>
  </li>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.in_case_capital_works') %>
    </li>

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.new_work_smaller') %>
    </li>

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.disruption_or_prolongation') %>
    </li>

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.restricts_others') %>
    </li>

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.unique_works_services') %>
    </li>

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.lack_of_interest') %>
    </li>

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.project_at_risk') %>
    </li>

    <li>
      <%= t('agreement.terms.additional_competitive_tendering.no_connections_to_grantee') %>
    </li>

  </ul>

</ul>
