<h3 class="govuk-heading-m">
  <%= t('agreement.terms.sub_headings.if_buying') %>
</h3>

<p class="govuk-body">
  <%= t('agreement.in_all_projects') %>
</p>

<p class="govuk-body">
  <%= t('agreement.if_public_body') %>
</p>

<p class="govuk-body">
  <%= t('agreement.procedures_to_recruit') %>
</p>

<p class="govuk-body">
  <%= t('agreement.if_unsure') %>
</p>

<h4 class="govuk-heading-s">
  <%= t('agreement.terms.sub_headings.under_10k') %>
</h4>

<p class="govuk-body">
  <%= t('agreement.terms.good_and_services.under_10k') %>
</p>