<h3 class="govuk-heading-m">
  <%= t('agreement.terms.sub_headings.if_buying') %>
</h3>

<ul>
  <ol class="govuk-list govuk-list--number govuk-list--spaced" start="1">

    <li>
      <%= t('agreement.in_all_projects') %>
    </li>

    <li>
      <%= t('agreement.if_public_body') %>
    </li>

    <li>
      <%= t('agreement.procedures_to_recruit') %>
    </li>

    <li>
      <%= t('agreement.if_unsure') %>
    </li>

  </ol>
</ul>

<h4 class="govuk-heading-s">
  <%= t('agreement.terms.sub_headings.under_10k') %>
</h4>

<ul>
  <ol class="govuk-list govuk-list--number govuk-list--spaced" start="5">

    <li>
      <%= t('agreement.terms.good_and_services.under_10k') %>
    </li>

  </ol>
</ul>

<h4 class="govuk-heading-s">
  <%= t('agreement.terms.sub_headings.between_10k_and_50k') %>
</h4>

<ul>
  <ol class="govuk-list govuk-list--number govuk-list--spaced" start="6">
  
    <li> 
      <%= t('agreement.terms.good_and_services.between_10k_and_50k_1') %> 
    </li>
    
    <li>
      <%= t('agreement.terms.good_and_services.between_10k_and_50k_2') %>
    </li>

  </ol>
</ul>

<h4 class="govuk-heading-s pagebreak">
  <%= t('agreement.terms.sub_headings.above_50k') %>
</h4>

<ul>
  <ol class="govuk-list govuk-list--number govuk-list--spaced" start="8">

    <li>
      <%= t('agreement.terms.good_and_services.above_50k_1') %>
    </li>

    <li>
      <%= t('agreement.terms.good_and_services.above_50k_2') %>
    </li>

  </ol>
</ul>
