<h4 class="govuk-heading-s">
  <%= t('agreement.terms.sub_headings.between_10k_and_50k') %>
</h4>

<p class="govuk-body">
  <%= t('agreement.terms.good_and_services.between_10k_and_50k_1') %>
</p>

<p class="govuk-body">
  <%= t('agreement.terms.good_and_services.between_10k_and_50k_2') %>
</p>

<h4 class="govuk-heading-s">
  <%= t('agreement.terms.sub_headings.above_50k') %>
</h4>

<p class="govuk-body">
  <%= t('agreement.terms.good_and_services.above_50k_1') %>
</p>

<p class="govuk-body">
  <%= t('agreement.terms.good_and_services.above_50k_2') %>
</p>
