<p class="govuk-body">
  <%= t('agreement.terms.social_values.consider_social_values') %>
</p>

<ul class="govuk-list govuk-list--bullet">

  <li>
    <%= t('agreement.terms.social_values.diverse_supply_chains') %>
  </li>

  <li>
    <%= t('agreement.terms.social_values.improved_employability') %>
  </li>

  <li>
    <%= t('agreement.terms.social_values.inclusion') %>
  </li>

  <li>
    <%= t('agreement.terms.social_values.environmental_sustainability') %>
  </li>

  <li>
    <%= t('agreement.terms.social_values.safe_supply_chains') %>
  </li>

</ul>
