<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @model_object,
             page_title: t('address_details.page_title')
         }
%>

<%= render partial: "partials/summary_errors", locals: {
    form_object: @model_object,
    first_form_element: @type == "organisation" || @type == 'preapplication' ? :organisation_name : :"#{@type == 'gp-open-medium' ? 'open_medium' : @type}_line1"
} if @model_object.errors.any? %>

<% if @type == "organisation" || @type == "project" %>
  <div class="govuk-caption-xl">
    <%= t('address_details.about_your') + ' ' + @type %>
  </div>
<% elsif @type == 'preapplication' %>
  <div class="govuk-caption-xl"><%= t('address_details.about_your_organisation') %></div>
<% elsif @type == 'gp-open-medium' %>
  <div class="govuk-caption-xl"><%= t('address_details.about_your_project') %></div>
<% else %>
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl"><%= t('address_details.add_your_details') %></span>
    <%= t('address_details.enter_your_address_details') %>
  </h1>
<% end %>

<% if @type == "organisation" %>
  <h1 class="govuk-heading-xl">
    <%= t('address_details.enter_organisation_address') %>
  </h1>
<% elsif @type == "project" %>
  <h1 class="govuk-heading-xl">
    <%= t('address_details.enter_project_address') %>
  </h1>
<% elsif @type == 'gp-open-medium' %>
  <h1 class="govuk-heading-xl">
    <%= t('address_details.enter_project_address') %>
  </h1>
<% elsif @type == 'preapplication' %>
  <h1 class="govuk-heading-xl">
    <%= t('address_details.enter_organisation_address') %>
  </h1>
<% end%>

<% if @type == "organisation" || @type == 'preapplication' %>
  <p class="govuk-hint govuk-!-margin-bottom-8"><%= t('address_details.based_in_uk_hint') %></p>
<% end %>

<%= form_for @model_object, url: :address, method: :put do |f|  %>

  <% if @type == "organisation" || @type == 'preapplication' %>
    <div class="govuk-form-group <%= "#{'govuk-form-group--error'}" if
                                         @model_object.errors[:name].any? %>">
      <%= f.label :name, t('address_details.org_name'), class: "govuk-label" %>
      <div class="govuk-hint">
        <%= t('address.hints.1') %>
      </div>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @model_object,
                          input_field_id: :name} if @model_object.errors[:name].any? %>
      <%= f.text_field :name,
                       autocomplete: 'organization',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @model_object.errors[:name].any?}" %>
    </div>
  <% end %>

    <div class="govuk-form-group <%= "#{'govuk-form-group--error'}" if
                                         @model_object.errors[:line1].any? %>">
      <%= f.label :line1, t('address_details.address_line_1'), class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @model_object,
                          input_field_id: :line1} if @model_object.errors[:line1].any? %>
      <%= f.text_field :line1,
                       autocomplete: 'address-line1',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @model_object.errors[:line1].any?}" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :line2, t('address_details.address_line_2'), class: "govuk-label" %>
      <%= f.text_field :line2,
                       autocomplete: 'address-line2',
                       class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :line3, t('address_details.address_line_3'), class: "govuk-label" %>
      <%= f.text_field :line3,
                       autocomplete: 'address-line3',
                       class: "govuk-input govuk-input--width-20" %>
    </div>

    <div class="govuk-form-group <%= "#{'govuk-form-group--error'}" if
                                         @model_object.errors[:townCity].any? %>">
      <%= f.label :townCity, t('address_details.town'), class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @model_object,
                          input_field_id: :townCity} if @model_object.errors[:townCity].any? %>
      <%= f.text_field :townCity,
                       autocomplete: 'address-level2',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @model_object.errors[:townCity].any?}" %>
    </div>

    <div class="govuk-form-group <%= "#{'govuk-form-group--error'}" if
                                         @model_object.errors[:county].any? %>">
      <%= f.label :county, t('address_details.county'), class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @model_object,
                          input_field_id: :county} if @model_object.errors[:county].any? %>
      <%= f.text_field :county,
                       autocomplete: 'address-level1',
                       class: "govuk-input govuk-input--width-20 #{'govuk-input--error' if @model_object.errors[:county].any?}" %>
    </div>

    <div class="govuk-form-group <%= "#{'govuk-form-group--error'}" if
                                         @model_object.errors[:postcode].any? %>">
      <%= f.label :postcode, t('address_details.postcode'), class: "govuk-label" %>
      <%= render partial: "partials/form_input_errors",
                 locals: {form_object: @model_object,
                          input_field_id: :postcode} if @model_object.errors[:postcode].any? %>
      <%= f.text_field :postcode,
                       autocomplete: 'postal-code',
                       class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if @model_object.errors[:postcode].any?}" %>
    </div>

    <%= f.save_and_continue %>

<% end %>
