<p class="govuk-body">
  <%= t('agreement.additional_docs.text.upload_instructions') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.secured_cash_contributions') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.secured_cash_contributions') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.ownership_lands_buildings') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.ownership_lands_buildings_1') %>
</p>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.ownership_lands_buildings_2') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.ownership_objects_collections') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.ownership_objects_collections_1') %>
</p>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.ownership_objects_collections_2') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.cashflow_forecast') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.cashflow_forecast') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.timetable') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.timetable_1') %>
</p>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.timetable_2') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.project_management_structure') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.project_management_structure') %>
</p>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.fundraising_plan') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.fundraising_plan') %>
</p>
