<%=
  render(
    partial: 'partials/page_title',
    locals: {
      model_object: @funding_application.project,
      page_title: t('application.cash_contributions.page_title')
    }
  )
%>

<noscript><% no_js = true %></noscript>

<% if @funding_application.project.errors.any? %>

  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
    role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t('generic.there_is_a_problem') %>
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <% @funding_application.project.errors.each do |attr, msg| %>
          <% unless attr.to_s == "cash_contributions" %>
            <li>
              <a href='#project_cash_contributions_attributes_0_<%= "#{attr.to_s.split('.')[1]}" %>'>
                <%= msg %>
              </a>
            </li>
          <% end %>
        <% end %>

      </ul>

    </div>

  </div>

<% end %>

  <%=
    render(
      partial: 'partials/funding_application/cash_contributions/page_upper',
      locals: {
        model_object: @funding_application.project,
        delete_path: 'funding_application_gp_project_cash_contribution_delete_path'
      }
    )
  %>

<%=
  form_with model: @funding_application.project,
  url: :funding_application_gp_project_cash_contributions,
  method: :put,
  remote: no_js ? false : true do |f|
%>

  <%=
    f.fields_for :cash_contributions, @funding_application.project.cash_contributions.build do |cc|
  %>

    <%=
      render(
        partial: 'partials/funding_application/cash_contributions/add_question',
        locals: {
          model_object: @funding_application.project,
          model_object_name: 'project',
          form_object: cc
        }
      )
    %>

  <% end %>

<% end %>

<hr class="govuk-section-break--l govuk-section-break--visible">

<form action="<%= funding_application_gp_project_your_grant_request_url %>"
  method="get">

  <p class="govuk-body">
    <%= t('application.cash_contributions.text.7') %>
  </p>

  <%= render(ButtonComponent.new(element: 'input')) %>

</form>
