<%=
  render partial: "partials/page_title",
    locals: {
        model_object: nil,
        page_title: t('salesforce_experience_application.confirmation.page_title')
    }
%>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= t('salesforce_experience_application.confirmation.page_heading')%>
  </h1>
</div>

<p class="govuk-body">
  <%= t('salesforce_experience_application.confirmation.email_sent_to')%>
  <%= @salesforce_experience_application.email_address%>
</p>

<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
  <%= t('salesforce_experience_application.confirmation.what_happens_next')%>
</h1>

<p class="govuk-body">
  <%= t('salesforce_experience_application.confirmation.will_review')%>
  <%= t('salesforce_experience_application.confirmation.will_let_know')%>
</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">
      <%= t('generic.warning') %>
    </span>
    <%= t('salesforce_experience_application.confirmation.warning')%>
  </strong>
</div>

<p class="govuk-body govuk-!-padding-bottom-2">
  <%= t('salesforce_experience_application.confirmation.any_questions')%>  
</p>

<%=
  render(
    ButtonComponent.new(
        element: "a",
        href: destroy_user_session_path,
        text: t('buttons.labels.sign_out'),
        data_method: 'delete'
    )
  )
%>