<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: t('salesforce_experience_application.approved_purposes.page_title')
         }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @salesforce_experience_application,
      first_form_element: :sfx_pts_payment_approved_purposes_match_true
    }
  ) if @salesforce_experience_application.errors.any?
%>

<fieldset class="govuk-fieldset">
  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @salesforce_experience_application.errors.any? %>">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

      <span class="govuk-caption-xl govuk-!-padding-bottom-2">
        <%= t('salesforce_experience_application.approved_purposes.page_caption')%>
      </span>

      <h1 class="govuk-heading-l govuk-!-padding-bottom-2">
        <%= t('salesforce_experience_application.approved_purposes.page_heading') %>
      </h1>

    <legend >

    <div class="govuk-body govuk-!-padding-bottom-4">
      <% unless @approved_purposes.empty? %>
        <ul class="govuk-list govuk-list--number">
            <% @approved_purposes.each do |ap| %>
              <li> <%= ap %> </li>
            <% end %>
        </ul>
      <% else %>
        <p> <%= t('salesforce_experience_application.approved_purposes.no_approved_purposes') %> </p>
      <% end %>
    </div>

    <%=
      render(
        partial: 'partials/form_group_errors',
        locals: {
          form_object: @salesforce_experience_application
        }
      ) if @salesforce_experience_application.errors.any?
    %>

 
    <%=
      form_with model: @salesforce_experience_application,
      url: :sfx_pts_payment_approved_purposes,
      local: true,
      method: :post do |f|
    %>
      <div class="govuk-form-group">

        <div class="govuk-radios govuk-radios--conditional govuk-!-padding-bottom-8" data-module="govuk-radios">

          <div class="govuk-radios__item">

            <%=
              f.radio_button :approved_purposes_match,
              true,
              class: "govuk-radios__input"
            %>

            <%= 
              f.label :approved_purposes_match_true, 
              t('salesforce_experience_application.approved_purposes.yes_radio'),
              class: "govuk-label govuk-radios__label" 
            %>

          </div>

          <div class="govuk-radios__item">

            <%=
              f.radio_button :approved_purposes_match,
              false,
              class: "govuk-radios__input",
              "data-aria-controls" => "conditional-approved_purpose_match"
            %>

            <%= 
              f.label :approved_purposes_match_false, 
              t('salesforce_experience_application.approved_purposes.no_radio'),
              class: "govuk-label govuk-radios__label" 
            %>

          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-approved_purpose_match">

            <p class="govuk-body">
              <%= t('salesforce_experience_application.approved_purposes.contact') %>
            </p>
            
          </div>

        </div>

        <%= render(
          ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.default')
          )
        )%>

      </div>
    <% end %>
  </fieldset>
</div>
