<% # renders section HTML from the controller when an applicant%>
<% if @section_end_html.present? %> 
  <%= raw @section_end_html %>
<% end %>

  <h2 class="govuk-heading-l no-print">
    <%= t('agreement.sign_terms.sub_headings.download_terms') %>
  </h2>

 <p class="no-print">
     <%= t('agreement.before_you_agree_html') %>
    <% if I18n.locale.to_s == 'en-GB' %>
      <script>
        var txt = "download the terms and conditions";
        document.write(txt.link('javascript:if(window.print)window.print()'));
      </script>
    <% end %>
    <% if I18n.locale.to_s == 'cy' %>
      <script>
        var txt = "lawrlwytho'r telerau ac amodau";
        document.write(txt.link('javascript:if(window.print)window.print()'));
      </script>
    <% end %>
  </p>

  <noscript>
    <div class="govuk-warning-text no-print">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
          <%= t('generic.javascript_off') %>
      </strong>
    </div>
  </noscript>

  <p class="govuk-body">
    <%= t('agreement.two_signatories') %>
  </p>

  <p class="govuk-body">
    <%= t('agreement.names_should_match') %>
  </p>

  <p class="govuk-body">
    <%= t('agreement.confirmation') %>
  </p>

  <div class="hide-unless-print">
    <p class="govuk-body govuk-!-font-weight-bold">Name</p>
    <p class="govuk-body govuk-!-font-weight-bold">Position</p>
    <p class="govuk-body govuk-!-font-weight-bold">Organisation</p>
    <p class="govuk-body govuk-!-font-weight-bold">Signature</p>
    <p class="govuk-body govuk-!-font-weight-bold">Date</p>
  </div>


<div class="no-print">
    <%=
      render(
        ButtonComponent.new(
          element: 'a',
          href: button_link,
          text: t('buttons.labels.continue')
        )
      )
    %>
  </div> 

<% # renders section close tag if html present %>
<% if @section_end_html.present? %> 
  </section>
<% end %>
