<% # renders section HTML from the controller%>
<%= raw @section_start_html %>

  <div class="hide-unless-print">
    <img src="<%= image_path("NLHF_Logo_English_Landscape_Black_RGB.jpg") %>" alt="<%= t("header.logo_alt_text") %>" width=60%>
  </div>

  <h1 class="govuk-heading-xl">
    <%= t('agreement.terms.page_heading') %>
  </h1>

  <p class="govuk-body">
    <%=
      t(
        'agreement.in_this_summary_html',
        href: link_to(
          t('agreement.in_this_summary_href'),
          @standard_terms_link,
          class: "printable-link"
        )
      )
    %>
  </p>

  <h2 class="govuk-heading-l">
    <%= t('agreement.terms.sub_headings.timings') %>
  </h2>

  <h3 class="govuk-heading-m">
    <%= 
      @funding_application.is_3_to_10k? ? \
        t('agreement.terms.sub_headings.get_grant_payment') : \
          t('agreement.terms.sub_headings.get_grant_payments') 
    %> 
  </h3>

  <p class="govuk-body">
    <%= t('agreement.must_have_requested') %>
  </p>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.deliver_project') %>
  </h3>

  <p class="govuk-body">
    <%= t('agreement.must_complete') %>
  </p>

  <p class="govuk-body">
    <%= t('agreement.to_complete') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.to_complete_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.to_complete_list.item_2') %>
    </li>

    <% if @funding_application.is_3_to_10k? %>
      <li>
        <%= t('agreement.to_complete_list.item_3_10k') %>
      </li>
    <% end %>

    <% if @award_more_than_10k %>
      <li>
        <%= t('agreement.to_complete_list.item_3_over_10k') %>
      </li>
    <% end %>

    <li>
      <%=
        @funding_application.is_3_to_10k? ? \
          t('agreement.to_complete_list.item_4_grant_report') : \
            t('agreement.to_complete_list.item_4_completion_report') 
      %> 
    </li>

  </ul>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.how_long') %>
  </h3>

  <p class="govuk-body">
    <%= t('agreement.if_your_project_includes') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.includes_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.includes_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.includes_list.item_3') %>
    </li>

    <li>
      <%=
        t(
          'agreement.includes_list.item_4_html',
          href: link_to(
            t('agreement.includes_list.item_4_href'),
            @receiving_guidance_property_ownership_link,
            class: "printable-link"
          )
        )
      %>
    </li>

  </ul>

  <h2 class="govuk-heading-l">
    <%= t('agreement.terms.sub_headings.funding_requirements') %>
  </h2>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.projects_must') %>
  </h3>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.projects_must_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.projects_must_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.projects_must_list.item_3') %>
    </li>

    <li>
      <%= t('agreement.projects_must_list.item_4') %>
    </li>

    <li>
      <%= t('agreement.projects_must_list.item_5') %>
    </li>

    <li>
      <%= t('agreement.projects_must_list.item_6') %>
    </li>

    <li>
      <%= t('agreement.projects_must_list.item_7') %>
    </li>

    <li>
      <%= t('agreement.projects_must_list.item_8') %>
    </li>

  </ul>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.organisations_must') %>
  </h3>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.organisations_must_list.item_1') %>
    </li>

    <li>
      <%=
        t(
          'agreement.organisations_must_list.item_2_html',
          href: link_to(
            t('agreement.organisations_must_list.item_2_href'),
            'https://www.gov.uk/government/publications/the-7-principles-of-public-life/the-7-principles-of-public-life--2',
            class: "printable-link"
            )
        )
      %>
    </li>

    <li>
      <%=
        t(
          'agreement.organisations_must_list.item_3_html',
          href: link_to(
            t('agreement.organisations_must_list.item_3_href'),
            'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/771152/2019-01-15_Code_of_Conduct_for_Grant_Recipients_v._1.01.pdf',
            class: "printable-link"
          )
        )
      %>
    </li>

    <li>
      <%= t('agreement.organisations_must_list.item_4') %>
    </li>

    <% if @award_more_than_10k %>
      <li>
        <%= 
          t(
            'agreement.organisations_must_list.item_5_html',
            href: link_to(
              t('agreement.organisations_must_list.item_5_href'),
              @standard_terms_link,
              class: "printable-link"
            )
          )   
        %>
      </li>
    <% end %>

  </ul>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.share_information') %>
  </h3>

  <p class="govuk-body">
    <%= t('agreement.ask_to_visit') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.share_info_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.share_info_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.share_info_list.item_3') %>
    </li>

    <li>
      <%= t('agreement.share_info_list.item_4') %>
    </li>

  </ul>

  <p class="govuk-body">
    <%= t('agreement.important_to_provide') %>
  </p>

  <% if @funding_application.is_3_to_10k? %>
    <%= render 'partials/funding_application/legal_agreements/terms/goods_services_under_10k' %>
  <% end %>

  <% if @award_more_than_10k %>
    <%= render 'partials/funding_application/legal_agreements/terms/goods_services_over_10k' %>
    <%= render 'partials/funding_application/legal_agreements/terms/additional_competitive_tendering_info' %>
    <%= render 'partials/funding_application/legal_agreements/terms/social_values' %>
  <% end %>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.digital_outputs') %>
  </h3>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term:  t('agreement.digital_outputs_include'),
        list_number: 10
      }
    )
  %>


  <p class="govuk-body">
    <%= t('agreement.digital_outputs_agree') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%=
        t(
          'agreement.digital_outputs_list.item_1_html',
          href_1: link_to(
            t('agreement.digital_outputs_list.item_1_href_1'),
            'https://creativecommons.org/licenses/by/4.0/',
            class: "printable-link"
          ),
          href_2: link_to(
            t('agreement.digital_outputs_list.item_1_href_2'),
            'https://creativecommons.org/publicdomain/zero/1.0/',
            class: "printable-link"
          )
        )
      %>
    </li>

    <li>
      <%= t('agreement.digital_outputs_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.digital_outputs_list.item_3') %>
    </li>

    <li>
      <%= t('agreement.digital_outputs_list.item_4') %>
    </li>

    <li>
      <%= t('agreement.digital_outputs_list.item_5') %>
    </li>

    <li>
      <%= t('agreement.digital_outputs_list.item_6') %>
    </li>

    <li>
      <%= t('agreement.digital_outputs_list.item_7') %>
    </li>

  </ul>

  <p class="govuk-body">
    <%= t('agreement.digital_outputs_consent') %>
  </p>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.if_property_included') %>
  </h3>

  <p class="govuk-body">
    <%= t('agreement.property_includes') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.property_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.property_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.property_list.item_3') %>
    </li>

    <li>
      <%= t('agreement.property_list.item_4') %>
    </li>

  </ul>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term:  t('agreement.must_continue_to_own'),
        list_number: 11
      }
    )
  %>

  <p class="govuk-body">
    <%= t('agreement.our_approval') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.approval_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.approval_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.approval_list.item_3') %>
    </li>

  </ul>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term:  t('agreement.may_claim'),
        list_number: 12
      }
    )
  %>

  <p class="govuk-body">
    <%= t('agreement.you_must') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.property_must_list.item_1') %>
    </li>

    <li>
      <%=
        t(
          'agreement.property_must_list.item_2_html',
          href_1: link_to(
            t('agreement.property_must_list.item_2_href_1'),
            @retrieving_a_grant_guidance_link,
            class: "printable-link"
          ),
          href_2: link_to(
            t('agreement.property_must_list.item_2_href_2'),
            @programme_application_guidance,
            class: "printable-link"
          )
        )
      %>
    </li>

    <% if @award_more_than_10k %>

      <li>
        <%= t('agreement.property_must_list.item_3') %>
      </li>

      <li>
        <%= t('agreement.property_must_list.item_4') %>
      </li>

      <li>
        <%= t('agreement.property_must_list.item_5') %>
      </li>  

    <% end %>

    <li>
      <%= t('agreement.property_must_list.item_6') %>
    </li>

    <% if @award_more_than_10k %>

      <li>
        <%= t('agreement.property_must_list.item_7') %>
      </li>

    <% end %>

  </ul>

  <h2 class="govuk-heading-l">
    <%= t('agreement.terms.sub_headings.grant_payment') %>
  </h2>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term: t('agreement.we_will_pay_html', 
          href: link_to(
            t('agreement.we_will_pay_href'), 
            @retrieving_a_grant_guidance_link,
            class: "printable-link"
          )
        ),
        list_number: 13
      }
    )
  %>

  <% if @award_more_than_10k %>
  <ul class="govuk-list govuk-list--bullet">
    <ul class="govuk-list govuk-list--bullet">
      <ul class="govuk-list govuk-list--bullet">
  <% end %>

        <ul class="govuk-list govuk-list--bullet">

          <li>
            <%= t('agreement.payment_list.item_1') %>
          </li>

          <li>
            <%=
              t(
                'agreement.payment_list.item_2_html',
                href: link_to(
                  t('agreement.payment_list.item_2_href'),
                  @standard_terms_link,
                  class: "printable-link"
                )
              )
            %>
          </li>

          <li>
            <%= t('agreement.payment_list.item_3') %>
          </li>

        </ul>

  <% if @award_more_than_10k %>
      </ul>
    </ul>
  </ul>
  <% end %>

  <% if @award_more_than_10k %>
    <%=
      render(
        partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
        locals: {
          legal_term: t('agreement.terms.must_not_tranfer_grant_html', 
            href: link_to(
              t('agreement.terms.must_not_tranfer_grant_href'), 
              @standard_terms_link,
              class: "printable-link"
            )
          ),
          list_number: 14
        }
      )
    %>
  <% end %>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.what_happens_underspend') %>
  </h3>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term: t('agreement.if_underspend'),
        list_number: 15
      }
    )
  %>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.what_happens_overspend') %>
  </h3>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term: t('agreement.if_overspend'),
        list_number: 16
      }
    )
  %>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.when_repay') %>
  </h3>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term: t('agreement.there_are_situations'),
        list_number: 17
      }
    )
  %>

  <p class="govuk-body">
    <%= t('agreement.circumstances_include') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.circumstances_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_3') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_4') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_5') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_6') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_7') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_8') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_9') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_10') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_11') %>
    </li>

    <li>
      <%= t('agreement.circumstances_list.item_12') %>
    </li>

  </ul>

  <%=
    render(
      partial: "partials/funding_application/legal_agreements/terms/list_when_over_10k",
      locals: {
        legal_term: t('agreement.grant_funding_shall'),
        list_number: 18
      }
    )
  %>

  <% if @award_more_than_10k %>
  <ul class="govuk-list govuk-list--bullet">
    <ul class="govuk-list govuk-list--bullet">
      <ul class="govuk-list govuk-list--bullet">
  <% end %>

        <ul class="govuk-list govuk-list--bullet">

          <li>
            <%= t('agreement.not_repayable_list.item_1') %>
          </li>

          <li>
            <%= t('agreement.not_repayable_list.item_2') %>
          </li>

          <li>
            <%= t('agreement.not_repayable_list.item_3') %>
          </li>

          <li>
            <%= t('agreement.not_repayable_list.item_4') %>
          </li>

        </ul>

  <% if @award_more_than_10k %>
      </ul>
    </ul>
  </ul>
  <% end %>


  <p class="govuk-body">
    <%= t('agreement.if_above_applies') %>
  </p>

  <% if @award_more_than_10k %>
    <%= render 'partials/funding_application/legal_agreements/terms/general_terms_and_conditions' %>
  <% end %>

  <% if @additional_grant_conditions.any? %>
    <%= render 'partials/funding_application/legal_agreements/terms/additional_grant_conditions' %>
  <% end %>

  <h2 class="govuk-heading-l">
    <%= t('agreement.terms.sub_headings.check_and_confirm') %>
  </h2>

  <p class="govuk-body">
    <%= t('agreement.to_release_payment') %>
  </p>

  <h3 class="govuk-heading-m">
    <%= t('agreement.terms.sub_headings.agree_to_terms') %>
  </h3>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('agreement.agree_terms_list.item_1') %>
    </li>

    <li>
      <%= t('agreement.agree_terms_list.item_2') %>
    </li>

    <li>
      <%= t('agreement.agree_terms_list.item_3') %>
    </li>

    <li>
      <%= t('agreement.agree_terms_list.item_4') %>
    </li>

    <li>
      <%= t('agreement.agree_terms_list.item_5') %>
    </li>

    <li>
      <%= t('agreement.agree_terms_list.item_6') %>
    </li>

  </ul>

</section>
