<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
      <h1 class="govuk-fieldset__heading">
        <%= t('agreement.upload_terms.page_heading') %>
      </h1>
    </legend>

    <p class="govuk-body">
      <%= t('agreement.upload_terms.description') %>
    </p>


    <div class="govuk-form-group nlhf-highlight-content govuk-!-margin-bottom-6">

      <div class="govuk-form-group <%= "govuk-form-group--error" if
        model_object.errors.any? %>" id="signed_terms_and_conditions-form-group" data-form-group="file">

        <%=
          render(
            partial: 'partials/form_group_errors',
            locals: {
              form_object: model_object
            }
          ) if model_object.errors.any?
        %>

        <div class="govuk-form-group">

          <%=
            form_object.label :signed_terms_and_conditions,
            t('agreement.sign_terms.labels.add_your_signed_terms'),
            class: "govuk-heading-m nlhf-content-highlight__title"
          %>

          <div id="signed_terms_and_conditions-errors"></div>

          <%=
            form_object.file_field :signed_terms_and_conditions,
            multiple: false,
            direct_upload: true,
            class: "govuk-file-upload #{"govuk-file-upload--error" if
              model_object.errors.any?}",
            'data-input-identifier': 'file',
            'data-attribute': :signed_terms_and_conditions,
            'data-model': 'funding_application',
            'autocomplete' => 'off'
          %>

        </div>

        <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
        for the reasoning behind this workaround %>
        <input type="hidden" name="ieworkaround">

        <div class="govuk-form-group">

          <%=
            render(
              ButtonComponent.new(
                text: t('agreement.sign_terms.buttons.add_signed_terms'),
                classes: 'govuk-button--secondary',
              )
            )
          %>

        </div>

      </div>

      <% unless model_object.signed_terms_and_conditions.attached? %>

        <p class="govuk-body">
          <%= t('agreement.sign_terms.no_signed_terms_and_conditions') %>
        </p>

      <% else %>

        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">

              <th scope="col" class="govuk-table__header">
                <%= t('agreement.sign_terms.signed_terms_and_conditions') %>
              </th>

            </tr>

          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">

              <td class="govuk-table__cell">

                <%=
                  link_to(
                    model_object.signed_terms_and_conditions.blob.filename,
                    rails_blob_path(
                      model_object.signed_terms_and_conditions,
                      disposition: 'attachment'
                    )
                  )
                %>

              </td>

            </tr>

          </tbody>

        </table>

      <% end %>

    </div>

  </fieldset>

</div>
