<%=
  render(
    partial: "partials/page_title",
    locals: {
      model_object: @funding_application,
      page_title: t('agreement.confirm.page_title')
    }
  )
%>

<h1 class="govuk-heading-xl">
  <%= t('agreement.confirm.page_heading') %>
</h1>

<p class="govuk-body">
  <%= t('agreement.confirm.by_clicking_confirm') %>
</p>

<h2 class="govuk-heading-l">
  <%= t('agreement.confirm.sub_headings.what_happens_next') %>
</h2>

<p class="gouvk-body">
  <%= t('agreement.confirm.we_ask_signatories') %>
</p>

<p class="gouvk-body">
  <%= t('agreement.confirm.if_not_signatory') %>
</p>

<div class="govuk-form-group">

  <%=
    form_with model: @funding_application,
      url: :funding_application_confirm,
      method: :put,
      remote: false do |f|
  %>

    <%=
      render(
        ButtonComponent.new(
            element: "input",
            text: t('buttons.labels.confirm')
        )
      )
    %>

  <% end %>

</div>
