<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t('progress_and_spend.previous_submissions.submission_summary.progress_update_summary.page_title')
    }
%>

<fieldset class="govuk-fieldset">
 	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-heading-l govuk-!-padding-bottom-2">
      <%=t('progress_and_spend.previous_submissions.submission_summary.progress_update_summary.page_heading')%>
    </h1>

	</legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

  <%=
    render(
      partial: 'partials/funding_application/progress_and_spend/check_your_answers/progress_update_summary',
      locals: {
        progress_update: @progress_update,
        funding_application: @funding_application,
        answers_json: @answers_json,
        has_additional_grant_conditions: @has_additional_grant_conditions,
        completion_date: @completion_date, 
        cash_contribution_count: @cash_contribution_count,
        is_check_your_answers: false
      }
    ) 
  %>

  <%=
		form_with model: @progress_update,
		url: funding_application_progress_and_spend_previous_submissions_submission_summary_progress_update_submission_path(),
		method: :post,
		local: true do |f|
	%>

    <%=
      render(
        ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.continue'),
          name: "continue_button"
        )
      )
    %>

	<% end %>

</fieldset>
