<dd class="govuk-summary-list__actions">
  <a class="govuk-link govuk-link--no-visited-state"
    href="<%= link_url %>" id="<%= anchor_id if defined?(anchor_id) %>">
    <%= t('generic.change') %> 
    <span class="govuk-visually-hidden"> 
      <%= t('pa_project_enquiry.check_answers.hidden.answer_to') %> '<%= link_hidden_label %>' 
    </span>
  </a>
</dd>
