<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
  id="conditional-<%= model_object_name %>_<%= designation %>">

  <div class="govuk-character-count" data-module="govuk-character-count"
    data-maxlength="255">

    <div class="govuk-form-group">

      <%=
        form_object.label :hd_historic_ship_description,
        t('heritage_designations.labels.hd_historic_ship_description'),
        class: 'govuk-label'
      %>

      <%=
        form_object.text_field :hd_historic_ship_description,
        class: "govuk-input   #{'govuk-js-character-count' if I18n.locale == :"en-GB"} " \
        "#{'govuk-input--error' if
          model_object.errors[:hd_historic_ship_description].any?}",
        'aria-describedby' => "#{model_object_name}_hd_historic_ship_description-info"
      %>

      <span id="<%= model_object_name %>_hd_historic_ship_description-info"
        class="govuk-hint govuk-character-count__message" aria-live="polite">
        <%= t('generic.character_count', max_characters: 255) %>
      </span>

    </div>

  </div>

</div>
