<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: 'Permission to Start'
         }
%>

<h1 class="govuk-heading-xl">
  Permission to Start
</h1>

<span class="govuk-caption-xl govuk-!-padding-bottom-2">
  <%= @salesforce_info_for_page[:large_application_type] %> Phase
</span>

<h2 class="govuk-heading-m">
  Project details
</h2>

<p class="govuk-body-m">Project title: <%= @salesforce_info_for_page[:project_title] %> </p>
<p class="govuk-body-m">Project reference number: <%= @salesforce_info_for_page[:project_ref_no] %> </p>
<p class="govuk-body-m">Grant expiry date: <%= @salesforce_info_for_page[:grant_expiry_date] %> </p>
<p class="govuk-body-m">Organisation: <%= @salesforce_info_for_page[:org_name] %> </p>

<h2 class="govuk-heading-m">
  We will ask you to:
</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>provide copies of documents</li>
  <li>tell us how your project will progress</li>
  <li>download, print and sign the Permission to Start Form</li>
  <li>upload the signed document</li>
</ul>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    It is important that you do not start your project until you hear from us.
  </strong>
</div>

<%= form_tag(
    url: :sfx_pts_payment_permission_to_start,
    method: :post,
    local: true
  ) do |f| 
%>

  <%= render(
      ButtonComponent.new(
        element: 'button',
        is_start_button: true,
        text: t('buttons.labels.start_now')
      )
    ) 
  %>

<% end %>

