<%=
  render partial: "partials/page_title",
         locals: {
            model_object: @funding_application,
            page_title: t('progress_and_spend.select_journey.page_title')
         }
%>

<fieldset class="govuk-fieldset">
 	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
			<%= t('progress_and_spend.select_journey.page_caption')%>
		</span>

		<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
			<%= t('progress_and_spend.select_journey.page_heading')%>
		</h1>

	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

  <%=
    render(
        partial: 'partials/summary_errors',
        locals: {
          form_object: @funding_application.arrears_journey_tracker,
          first_form_element: :arrears_journey_tracker_get_payment
        }
      ) if @funding_application.arrears_journey_tracker.errors.any?
  %>

  <%= 
    form_with model: @funding_application.arrears_journey_tracker,
    url: funding_application_progress_and_spend_select_journey_path(),
    method: :post,
    local: true do |f|
  %>

    <div class="govuk-form-group <%= "govuk-form-group--error" if @funding_application.arrears_journey_tracker.errors.any? %>">

    	<p>
        <%= t('progress_and_spend.select_journey.check_boxes.select')%>
      </p>

      <div class="govuk-checkboxes">

        <section class="nlhf-summary govuk-!-padding-4 " id="project-costs">

          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
            <%= t('progress_and_spend.select_journey.check_boxes.get_payment_heading')%>
          </h2>

        
          <div class="govuk-checkboxes__item  govuk-!-margin-bottom-4">

            <%=
              f.check_box :get_payment,
                {
                    id: :arrears_journey_tracker_get_payment,
                    class: "govuk-checkboxes__input"
                },
                'true', 'false'
            %>

            <%=
              f.label :get_payment,
                      t('progress_and_spend.select_journey.check_boxes.get_payment_desc'),
                      class: "govuk-label govuk-checkboxes__label"
            %>

          </div>
        </section>
    
        <section class="nlhf-summary govuk-!-padding-4 " id="project-update">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
            <%= t('progress_and_spend.select_journey.check_boxes.project_update_heading')%>
          </h2>

          <div class="govuk-checkboxes__item">

            <%=
              f.check_box :give_project_update,
                {
                    id: :arrears_journey_tracker_give_project_update,
                    class: "govuk-checkboxes__input"
                },
                'true', 'false'
            %>

            <%=
              f.label :give_project_update,
                    t('progress_and_spend.select_journey.check_boxes.project_update_desc'),
                      class: "govuk-label govuk-checkboxes__label"
            %>

          </div>
        </section>

      </div>

    </div>

    <%= render(
        ButtonComponent.new(
          element: "button",
          text: t("buttons.labels.continue")
        )
      ) 
    %>
  <% end %>
</fieldset>

<%= content_for :secondarycontent do %>
  <div class="nlhf-panel" >
    <h2 class="govuk-heading-m">
      <%= t('progress_and_spend.select_journey.project_information')%>
    </h2>
    <p> 
      <%= t('progress_and_spend.select_journey.project_name')%><%=@project_name%>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.project_reference_number')%><%=@project_reference_num%>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.grant_paid')%><%= number_with_precision(@grant_paid, :precision => 2, :delimiter => ',') %>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.remaining_grant')%><%= number_with_precision(@remaining_grant, :precision => 2, :delimiter => ',') %>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.grant_expiry_date')%><%=@grant_expiry_date%>
    </p>
     <span>
        <%=
          link_to(
            t('progress_and_spend.select_journey.previous_submissions_link'),
            funding_application_progress_and_spend_previous_submissions_previous_submission_dates_path(),
            class: 'govuk-link govuk-link--no-visited-state'
          )
        %>
      </span>
  </div>
<% end %>
