<%=
  render partial: "partials/page_title",
         locals: {
            model_object: @funding_application,
            page_title: t('progress_and_spend.payments.what_spend.page_title')
         }
%>


<fieldset class="govuk-fieldset">
 	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <%=
      render(
          partial: 'partials/summary_errors',
          locals: {
            form_object: @funding_application.arrears_journey_tracker.payment_request,
            first_form_element: :payment_request_higher_spend
          }
        ) if @funding_application.arrears_journey_tracker.payment_request.errors.any?
    %>

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
      <%= t('progress_and_spend.payments.what_spend.page_caption')%>
		</span>

		<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
			<%= t('progress_and_spend.payments.what_spend.page_heading')%>
		</h1>

	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

  <%= 
    form_with model: @funding_application.arrears_journey_tracker.payment_request,
    url: funding_application_progress_and_spend_payments_what_spend_path(),
    method: :post,
    local: true do |f|
  %>

    <div class="govuk-form-group <%= "govuk-form-group--error" if \
      @funding_application.arrears_journey_tracker.payment_request.errors.any? %>">

      <p class="govuk-body govuk-hint">
        <%= t('progress_and_spend.payments.what_spend.page_hint', spend_amount: @spend_threshold) %>
      </p>

      <p class="govuk-body govuk-hint">
        <%= t('generic.select_all_that_apply') %>
      </p>

      <%=
        render partial: "partials/form_input_errors",
        locals: {
          form_object: @funding_application.arrears_journey_tracker.payment_request,
          input_field_id: :spend_journeys_to_do
          } if @funding_application.arrears_journey_tracker.payment_request.errors.any?
      %>

      <div class="govuk-checkboxes">

        <div class="govuk-checkboxes__item  govuk-!-margin-bottom-4">

          <%=
            f.check_box :higher_spend,
              {
                  class: "govuk-checkboxes__input"
              },
              'true', 'false'
          %>

          <%=
            f.label :higher_spend,
            t('progress_and_spend.payments.what_spend.spend_over',
            spend_amount: @spend_threshold),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>
    
        <div class="govuk-checkboxes__item">

          <%=
            f.check_box :lower_spend,
              {
                  class: "govuk-checkboxes__input"
              },
              'true', 'false'
          %>

          <%=
            f.label :lower_spend,
            t('progress_and_spend.payments.what_spend.spend_under',
            spend_amount: @spend_threshold),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

        <div class="govuk-checkboxes__item">

          <%=
            f.check_box :no_update,
              {
                  class: "govuk-checkboxes__input"
              },
              'true', 'false'
          %>

          <%=
            f.label :no_update,
            t('progress_and_spend.payments.what_spend.no_spend_update'),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      </div>

    </div>

    <%=
      render(
        ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.default'),
          name: "save_and_continue_button"
        )
      )
			%>
      
  <% end %>
  
</fieldset>
