<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t("progress_and_spend.payments.low_spend_select.page_title")
    }
%>

<fieldset class="govuk-fieldset">
	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

		<%=
			render(
					partial: 'partials/summary_errors',
					locals: {
						form_object: @funding_application.arrears_journey_tracker.payment_request,
						first_form_element: @first_form_element
					}
				) if @funding_application.arrears_journey_tracker.payment_request.errors.any?
  	%>

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
			<%= t('progress_and_spend.payments.low_spend_select.page_caption') %>
		</span>

    <h1 class="govuk-heading-l govuk-!-padding-bottom-2">
      <%= t('progress_and_spend.payments.low_spend_select.page_heading', spend_amount: @spend_threshold) %>
    </h1>

	</legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

	<p class="govuk-body govuk-hint govuk-!-padding-bottom-2">
		<%= t('progress_and_spend.payments.low_spend_select.page_hint', spend_amount: @spend_threshold) %>
	</p>

	<%=
		render partial: "partials/funding_application/progress_and_spend/help_with_spend_types_accordian"
	%>

	<h2 class="govuk-heading-s">
		<%= t('progress_and_spend.payments.low_spend_select.spend_type') %>
	</h2>

	<%=
		form_with model: @funding_application.arrears_journey_tracker.payment_request,
		url: funding_application_progress_and_spend_payments_low_spend_select_path(),
		method: :post,
		local: true do |f|
	%>

		<div class="govuk-form-group <%= "govuk-form-group--error" if 
			@funding_application.arrears_journey_tracker.payment_request.errors.any? %>">

			<div id="mission-hint" class="govuk-hint">
				<%= t('generic.select_all_that_apply') %>
			</div>

			<%=
				render(
					partial: 'partials/form_group_errors',
					locals: {
						form_object: @funding_application.arrears_journey_tracker.payment_request
					}
				) if @funding_application.arrears_journey_tracker.payment_request.errors.any?
			%>

			<%
				@headings.each do |heading|
			%>

				<div class="govuk-checkboxes" data-module="govuk-checkboxes">

					<div class="govuk-checkboxes__item  govuk-!-margin-bottom-4">

						<%=
							f.check_box heading,
							{
								class: "govuk-checkboxes__input",
							},
							'true', 
							'false'
						%>

						<%=
							f.label heading,
							heading,
							class: "govuk-label govuk-checkboxes__label"
						%>

					</div>

				</div>

			<% end %>

		</div>

		<%=
			render(
				ButtonComponent.new(
					element: 'button',
					is_start_button: false,
					text: t('buttons.labels.default'),
					name: "save_and_continue_button"
				)
			)
		%>

	<% end %>

</fieldset>
