<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title:  t("progress_and_spend.progress_update.risk.risk_register.page_title")
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @funding_application.arrears_journey_tracker.progress_update,
      first_form_element: :progress_update_has_risk_register_true
    }
  ) if @funding_application.arrears_journey_tracker.progress_update.errors.any?
%>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
			<%= t("progress_and_spend.progress_update.risk.risk_register.page_caption") %>
		</span>

		<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
	    <%= t("progress_and_spend.progress_update.risk.risk_register.page_heading") %>
		</h1>

    <p class="govuk-body">
      <%= t("progress_and_spend.progress_update.risk.risk_register.a_risk_register_is") %>
    </p>

    <%# Design specifies this should be below 2nd radio. However, only time we have a %>
    <%# hint below a radio and would need to refactor file upload partial and dependents. %>
    <%# If we refactor partial, include an aria-describedby to link hint and radio.  %>
    <p class="govuk-body govuk-hint">
      <%= t('progress_and_spend.progress_update.risk.risk_register.radio_no_hint') %>
    </p>

	</legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

	<%=
		render(
			partial: 'partials/form_group_errors',
			locals: {
				form_object: @funding_application.arrears_journey_tracker.progress_update
			}
		) if @funding_application.arrears_journey_tracker.progress_update.errors.any?
	%>

	<%=
		render(
			partial: 'partials/funding_application/progress_and_spend/file_upload',
			locals: {
				input_field_id:  :'progress_update_risk_register.progress_update_risk_register_file',
				form_object: @funding_application.arrears_journey_tracker.progress_update,
				file_model: @funding_application.arrears_journey_tracker.progress_update.progress_update_risk_register,
				file_field: :progress_update_risk_register_file,
				file_field_model: :progress_update_risk_register,
				radio_button: :has_risk_register,
				radio_true: :has_risk_register_true,
				radio_false: :has_risk_register_false,
				attachments: @attachments_hash,
				translations_local: 'progress_and_spend.progress_update.risk.risk_register',
				url_path: funding_application_progress_and_spend_progress_update_risk_risk_register_path()
			}
		)
	%>

</fieldset>
