<div class="nlhf-add-item govuk-!-margin-bottom-9">
    
  <header class="nlhf-add-item__header">

    <h2 class="govuk-heading-l">
      <%= t('application.evidence_of_support.headings.2') %>
    </h2>

  </header>

  <div class="nlhf-add-item__body">

    <div class="govuk-inset-text">

      <div class="nlhf-add-item__row" id="add-evidence-section">

          <a href="#add-evidence-form" class="govuk-skip-link">
            <%= t('application.evidence_of_support.text.skip_to_form') %>
          </a>
      
          <h4 class="govuk-heading-m">
            <%= t('application.evidence_of_support.headings.3') %>
          </h4>

          <p class="govuk-body">
            <%= t('application.evidence_of_support.text.3') %>
          </p> 

          <p class="govuk-body">
            <%= t('generic.for_example') %>
          </p>

          <ul class="govuk-list govuk-list--bullet">

            <li>
              <%= t('application.evidence_of_support.li.1') %>
            </li>

            <li>
              <%= t('application.evidence_of_support.li.2') %>
            </li>

            <li>
              <%= t('application.evidence_of_support.li.3') %>
            </li>

          </ul>
      
      </div>

    </div>


    <div class="nlhf-add-item__row" id="add-evidence-form">

      <div class="govuk-character-count" data-module="govuk-character-count"
        data-maxwords="50">

        <div class="govuk-form-group <%= "govuk-form-group--error" if
          model_object.errors['evidence_of_support.description'].any? %>"
          id="evidence_of_support.description-form-group">

          <%=
            render(
              partial: 'partials/form_input_errors',
              locals: {
                form_object: model_object,
                input_field_id: :'evidence_of_support.description'
              }
            ) if model_object.errors['evidence_of_support.description'].any?
          %>

          <div id="evidence_of_support.description-errors"></div>

          <%=
            form_object.label :evidence_of_support_attributes_0_description,
            t('application.evidence_of_support.labels.1'),
            class: 'govuk-label govuk-!-font-weight-bold'
          %>

          <%=
            form_object.text_area :description,
            value: '',
            class: "govuk-textarea govuk-js-character-count #{'govuk-textarea--error' if
              model_object.errors['evidence_of_support.description'].any?}",
            rows: 5
          %>

          <span id="project_evidence_of_support_attributes_0_description-info"
            class="govuk-hint govuk-character-count__message" aria-live="polite">
            <%= t('generic.word_count', max_words:50) %>
          </span>

        </div>

      </div>

    </div>

    <div class="nlhf-add-item__row">

      <div id="file-upload-form-group">

        <div class="govuk-form-group <%= "govuk-form-group--error" if
          model_object.errors['evidence_of_support.evidence_of_support_files'].any? %>"
          id="evidence_of_support.evidence_of_support_files-form-group" data-form-group="file">

          <%=
            render(
              partial: 'partials/form_input_errors',
              locals: {
                form_object: model_object,
                input_field_id: :'evidence_of_support.evidence_of_support_files'
              }
            ) if model_object.errors['evidence_of_support.evidence_of_support_files'].any?
          %>

          <div id="evidence_of_support.evidence_of_support_files-errors"></div>

          <div id="form-group-errors"></div>

          <%=
            form_object.label :evidence_of_support_files,
            t('generic.upload_a_file'),
            class: 'govuk-label'
          %>

          <%=
            form_object.file_field :evidence_of_support_files,
            multiple: false,
            direct_upload: true,
            class: "govuk-file-upload #{'govuk-file-upload--error' if
              model_object.errors['evidence_of_support.evidence_of_support_files'].any?}",
            'data-input-identifier': 'file',
            'data-attribute': :evidence_of_support_files,
            'data-model': :evidence_of_support,
            'data-parent-model': :project,
            'autocomplete' => 'off'
          %>

        </div>

      </div>

    </div>

    <%#
      See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
      for the reasoning behind this workaround
    %>
    <input type="hidden" name="ieworkaround">

    <div class="nlhf-add-item__row">

      <button class="govuk-button govuk-button--secondary" 
        data-module="govuk-button">
        <%= t('application.evidence_of_support.buttons.1') %>
      </button>

    </div>

  </div>

</div>
