<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application,
             page_title: t('tasks.page_title')
         }
%>

<h1 class="govuk-heading-l"> <%= t('tasks.page_heading') %> </h1>

<h1 class="govuk-heading-l">

  <% if @funding_application.project.present? %>
    <%= @funding_application.project.project_title %>
  <% end %>

  <% if @funding_application.open_medium.present? %>
    <%= @funding_application.open_medium.project_title %>
  <% end %>

  - <%= @funding_application.project_reference_number %>

</h1>

<h2 class="govuk-heading-m">
  <%= t('tasks.todo_list_heading') %>
</h2>

<p>
  <%= t('tasks.page_hint') %>
</p>

<ul class="govuk-list nlhf-list nlhf-list--links">

  <li class="nlhf-list__item nlhf-task__item">

    <span class="nlhf-tag-name">

      <% if @has_agreed_to_grant || @not_awarded %>

        Check and agree your Grant  

      <% else %>

        <%=
          link_to(
            'Check and agree your grant',
            funding_application_how_to_accept_path,
            class: 'govuk-link govuk-link--no-visited-state',
            aria: { describedby: 'check-and-agree' } 
          )
        %>

      <% end %>

        <%=
          render(
            partial: 'partials/tag_component',
            locals: {
              colour: @agreement_status_tag_colour,
              tag_text: @agreement_status_tag_label,
              tag_id: 'check-and-agree'
            }
          )
        %>

    </span>

    

  </li>

  <li class="nlhf-list__item nlhf-task__item">

    <span class="nlhf-tag-name">

      <% if @has_agreed_to_grant && @has_not_agreed_to_terms %>
      
        <%=
          link_to(
            'Agree terms and conditions',
            funding_application_terms_and_conditions_path,
            class: 'govuk-link govuk-link--no-visited-state',
            aria: { describedby: 'agreed-to-terms' }
          )
        %>

      <% else %>

        Agree terms and conditions

      <% end %>

    </span>

    <%=
      render(
        partial: 'partials/tag_component',
        locals: {
          colour: @terms_status_tag_colour,
          tag_text: @terms_status_tag_label,
          tag_id: 'agreed-to-terms'
        }
      )
    %>

  </li>

  <% # todo: remove when payments possible for medium applications > 100k %>
  <% unless @funding_application.is_100_to_250k? %>

    <li class="nlhf-list__item nlhf-task__item">

      <% if @first_payment_not_started && !@legal_agreement_in_place %>

        <%= t('tasks.add_bank_details') %>

        <%=
          render(
            partial: 'partials/tag_component',
            locals: {
              colour: 'grey',
              tag_text: t('generic.cannot_yet_start'),
              tag_id: 'first-payment-not-started'
            }
          )
        %>

      <% end %>

      <% if @first_payment_not_started && @legal_agreement_in_place %>
    
        <span class="nlhf-tag-name">
          
          <%=
            link_to(
              t('tasks.add_bank_details'),
              funding_application_payment_request_start_path,
              class: 'govuk-link govuk-link--no-visited-state',
              aria: {describedby: 'first-payment-not-started'}
            )
          %>

        </span>

        <%=
          render(
              partial: 'partials/tag_component',
              locals: {
                colour: 'grey',
                tag_text: t('generic.not_started'),
                tag_id: 'first-payment-not-started'
              }
          )
        %>

      <% end %>

      <% if @first_payment_in_progress %>
    
        <span class="nlhf-tag-name">
          
          <%=
            link_to(
              t('tasks.add_bank_details'),
              funding_application_payment_request_start_path,
              class: 'govuk-link govuk-link--no-visited-state',
              aria: {describedby: 'first-payment-in-progress'} 
            )
          %>

        </span>

        <%=
          render(
              partial: 'partials/tag_component',
              locals: {
                colour: 'blue',
                tag_text: t('generic.in_progress'),
                tag_id: 'first-payment-in-progress'
              }
          )
        %>

      <% end %>
      
      <% if @first_payment_completed %>

        <span class="nlhf-tag-name" aria-describedby="first-payment-completed">
          
          <%= t('tasks.add_bank_details') %>

        </span>

        <%=
          render(
              partial: 'partials/tag_component',
              locals: {
                colour: 'grey',
                tag_text: t('generic.submitted'),
                tag_id: 'first-payment-completed'
              }
          )
        %>

      <% end %>
    
    </li>

  <% end %>

</ul>
