<div class="nlhf-banner">

  <svg class="nlhf-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
  <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
  C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>

  <div class="nlhf-banner__message">

    <h2 class="govuk-heading-m">
      <%= t('login_banner.important_notice') %>
    </h2>

    <p class="govuk-body">
      <%= t('login_banner.project_enquiries_applications') %>
      <a
        class="govuk-link govuk-!-margin-right-1"
        href="https://www.heritagefund.org.uk/about/heritage-2033-our-10-year-strategy"
        target="_blank"
      >
      <%= t('login_banner.strategy_href') %>
      </a>
      <%= t('login_banner.strategy_post_link') %>
      <%= t('login_banner.guidance') %>
      <%= t('login_banner.Please_check') %>
    </p>

    <p class="govuk-body">
      <%= t('login_banner.applicant_for_the_following') %>
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-hint">
      <li><%= t('login_banner.woodland_investment') %></li>
      <li><%= t('login_banner.local_places_nature') %></li>
      <li><%= t('login_banner.nature_networks') %></li>
      <li><%= t('login_banner.facility_for_investment') %></li>
      <li><%= t('login_banner.heritage_places_strategic') %></li>
    </ul>

    <p class="govuk-body">
      <%= t('login_banner.application_deadline') %>
    </p>

  </div>

</div>