<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t("salesforce_experience_application.cash_contribution_evidence.page_title")
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @salesforce_experience_application,
      first_form_element: :sfx_pts_payment_cash_contributions_evidence_question_yes_i_will_upload_evidence_of_secured_cash_contributions,
    }
  ) if @salesforce_experience_application.errors.any?
%>

<fieldset class="govuk-fieldset">
	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		<span class="govuk-caption-xl govuk-!-padding-bottom-2"><%= t("salesforce_experience_application.cash_contribution_evidence.page_hint") %></span>
		<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
			<%= t("salesforce_experience_application.cash_contribution_evidence.page_heading") %>
		</h1>
	</legend>

	<%=
		render(
			partial: 'partials/form_group_errors',
			locals: {
				form_object: @salesforce_experience_application
			}
		) if @salesforce_experience_application.errors.any?
	%>

	<%= 
		form_with model: @salesforce_experience_application,
		url: :sfx_pts_payment_cash_contributions_evidence,
		method: :post,
		local: true do |f|
	%>

		<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

			<%=
				render(
					partial: 'partials/form_input_errors',
					locals: {
						form_object: @salesforce_experience_application,
						input_field_id: :'sfx_pts_payments_cash_contributions_evidence_question_true'
					}
				) if @salesforce_experience_application.errors['sfx_pts_payments.cash_contributions_evidence_question'].any?
			%>

			<div class="govuk-form-group <%= "govuk-form-group--error" if
			@salesforce_experience_application.errors.any? %>">

				<div id="sfx_pts_payments.cash_contributions_evidence_question-errors"></div>

				<div id="form-group-errors"></div>

				<div class="govuk-radios__item govuk-!-margin-bottom-4">

					<%=
						# i18n value passed as value
						f.radio_button :cash_contributions_evidence_question,
						t('salesforce_experience_application.cash_contribution_evidence.bullets.yes_i_will_upload'),
						class: "govuk-radios__input",
						"data-aria-controls" => "conditional-cash_contributions_evidence_question "
					%>
								
					<%=
						f.label "cash_contributions_evidence_question_" +t('salesforce_experience_application.cash_contribution_evidence.bullets.yes_i_will_upload').parameterize.underscore,
						t('salesforce_experience_application.cash_contribution_evidence.bullets.yes_i_will_upload'),
						class: "govuk-label govuk-radios__label"
					%>
										
					<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
						id="conditional-cash_contributions_evidence_question">

						<div class="govuk-form-group" id="capital-works-form-group-main"
							data-form-group="file">

							<%=
								f.label :cash_contributions_evidence_files,
								t('salesforce_experience_application.cash_contribution_evidence.bullets.upload_evidence_of'),
								class: "govuk-label govuk-!-font-weight-bold"
							%>

							<%=
								f.file_field :cash_contributions_evidence_files,
								multiple: true,
								direct_upload: true,
								class: "govuk-file-upload",
								'data-input-identifier': 'file',
								'data-attribute': :cash_contributions_evidence_files,
								'data-model': 'sfx_pts_payments',
								'autocomplete' => 'off'
							%>

							<div class="govuk-!-padding-top-6">
								<%=
									render(
										ButtonComponent.new(
											type: "button",
											text: t('generic.upload_files'),
											classes: "govuk-button--primary ",
											name: 'add_file_button'
										)
									)
								%>
							</div>

						</div>

						<% if @files&.first&.present?%>							
							
							<table class="govuk-table" role="presentation">
								<tr class="govuk-table__row">
									<thead class="govuk-table__head">
											<th class="govuk-table__header">
													Uploaded files
											</th>
									</thead>
								</tr>
								<tbody>
									<% @files.each do |blob| %>
									<tr class="govuk-table__row">
										<td class="govuk-table__cell ">
											
											<div class="govuk-table govuk-!-margin-top-3">
												<%=
													link_to(
														blob.filename,
														rails_blob_path(
															blob,
															disposition: "attachment"
														),
														class: 'govuk-link',
													)
												%> 

												<p>	
													has been uploaded
												</p>
											</div>
							

										</td>
										<td>

											<%=
												render(
													partial: 'partials/salesforce_experience_application/delete_button',
													locals: {
														blob_id: blob.id,
													}
												) 
											%>
								
										</td>
				
									</tr>
									<% end %>

								</tbody>
								
							</table>

						<% end %>

					</div>

				</div>

				<div class="govuk-radios__item  govuk-!-margin-bottom-4">

					<%=
						# i18n value passed as value
						f.radio_button :cash_contributions_evidence_question,
						t('salesforce_experience_application.cash_contribution_evidence.bullets.i_have_emailed_evidence'),
						class: "govuk-radios__input"
					%>

					<%=	
							f.label "cash_contributions_evidence_question_" + t('salesforce_experience_application.cash_contribution_evidence.bullets.i_have_emailed_evidence').parameterize.underscore,
							t('salesforce_experience_application.cash_contribution_evidence.bullets.i_have_emailed_evidence'),
							class: "govuk-label govuk-radios__label"
					%>

				</div>

				<div class="govuk-radios__item  govuk-!-margin-bottom-4">

					<%=
						# i18n value passed as value
						f.radio_button :cash_contributions_evidence_question,
						t('salesforce_experience_application.cash_contribution_evidence.bullets.i_provided_evidence'),
						class: "govuk-radios__input"
					%>

					<%=	
							f.label "cash_contributions_evidence_question_" + t('salesforce_experience_application.cash_contribution_evidence.bullets.i_provided_evidence').parameterize.underscore,
							t('salesforce_experience_application.cash_contribution_evidence.bullets.i_provided_evidence'),
							class: "govuk-label govuk-radios__label"
					%>

				</div>

				<div class="govuk-radios__item  govuk-!-margin-bottom-9">

					<%=
						# i18n value passed as value
						f.radio_button :cash_contributions_evidence_question,
						t('salesforce_experience_application.cash_contribution_evidence.bullets.no_i_do_not_have_evidence'),
						class: "govuk-radios__input"
					%>

					<%=	
							f.label "cash_contributions_evidence_question_" + t('salesforce_experience_application.cash_contribution_evidence.bullets.no_i_do_not_have_evidence').parameterize.underscore,
							t('salesforce_experience_application.cash_contribution_evidence.bullets.no_i_do_not_have_evidence'),
							class: "govuk-label govuk-radios__label"
					%>

				</div>
			
			</div>

			<%=
				render(
					ButtonComponent.new(
						element: 'button',
						is_start_button: false,
						text: t('buttons.labels.default'),
						name: "save_and_continue_button"
					)
				)
			%>

			<%#
				See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
				for the reasoning behind this workaround
			%>
			<input type="hidden" name="ieworkaround">
		</div>
	<% end %>
</fieldset>
