<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t("progress_and_spend.payments.high_spend_summary.page_title")
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @funding_application.arrears_journey_tracker.payment_request,
      first_form_element: :payment_request_add_another_high_spend_true
    }
  ) if @funding_application.arrears_journey_tracker.payment_request.errors.any?
%>

<fieldset class="govuk-fieldset">

	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
			<%= t('progress_and_spend.payments.high_spend_summary.page_caption') %>
		</span>

    <h1 class="govuk-heading-l govuk-!-padding-bottom-2">
      <%= t('progress_and_spend.payments.high_spend_summary.page_heading', spend_amount: @spend_threshold) %>
    </h1>

	</legend class="govuk-fieldset__legend govuk-fieldset__legend--l">


	<%# Spends table start.%>
	<%=
		render partial: "partials/funding_application/progress_and_spend/high_spend_summary_table"
	%>
	<%# Spends table end.%>

		<%=
			form_with model: @funding_application.arrears_journey_tracker.payment_request,
			url: funding_application_progress_and_spend_payments_high_spend_summary_path(),
			method: :post,
			local: true do |f|
		%>

			<h1 class="govuk-heading-l govuk-!-padding-bottom-2 govuk-!-padding-top-2">
       <%= t('progress_and_spend.payments.high_spend_summary.do_you_need_to', spend_amount: @spend_threshold) %>
			</h1>

			<%=
				render(
					partial: 'partials/form_group_errors',
					locals: {
						form_object: @funding_application.arrears_journey_tracker.payment_request
					}
				) if @funding_application.arrears_journey_tracker.\
						payment_request.errors[:add_another_high_spend].any?
			%>

			<div class="govuk-form-group <%= "govuk-form-group--error" if
		    @funding_application.arrears_journey_tracker.payment_request.\
					errors[:add_another_high_spend].any?  %>">

				<div id="form-group-errors"></div>

				<div class="govuk-radios__item">

					<%=
						f.radio_button :add_another_high_spend,
						true,
						class: "govuk-radios__input"
					%>

					<%=
						f.label :add_another_high_spend_true,
						t('progress_and_spend.payments.high_spend_summary.radio_yes',
							spend_amount: @spend_threshold),
						class: "govuk-label govuk-radios__label"
					%>

				</div>

				<div class="govuk-radios__item  govuk-!-margin-bottom-9">

					<%=
						f.radio_button :add_another_high_spend,
						false,
						class: "govuk-radios__input"
					%>

					<%=
							f.label :add_another_high_spend_false,
              t('progress_and_spend.payments.high_spend_summary.radio_no',
								spend_amount: @spend_threshold),
							class: "govuk-label govuk-radios__label"
					%>

				</div>

			</div>


			<%=
				render(
					ButtonComponent.new(
						element: 'button',
						is_start_button: false,
						text: t('buttons.labels.default'),
						name: "save_and_continue_button"
					)
				)
			%>

	<% end %>

</fieldset>
