<div class="nlhf-page-header govuk-!-margin-bottom-9">

  <div class="govuk-caption-xl">
    <%= t('views.funding_application.common.about_your_project') %>
  </div>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
    <%= t('application.costs.headings.1') %>
  </h1>

  <p class="govuk-body-l">
    <%= t('application.costs.text.1') %>
  </p>

</div>

<section class="nlhf-summary govuk-!-margin-bottom-9" id="project-costs">

  <header class="nlhf-summary__header">

    <h2 class="govuk-heading-m">
      <%= t('application.costs.headings.2') %>
    </h2>

  </header>

  <div class="nlhf-summary__body">

    <% unless model_object.project_costs.first&.id.present? %>

      <h3 class="govuk-heading-m">
        <%= t('application.costs.headings.3') %>
      </h3>

      <p class="govuk-body">
        <%= t('application.costs.text.2') %>
      </p>

    <% else %>

      <table class="govuk-table">

        <thead class="govuk-table__head">

        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header">
            <%= t('application.costs.th.1') %>
          </th>

          <th scope="col" class="govuk-table__header">
            <%= t('application.costs.th.2') %>
          </th>

          <th scope="col" class="govuk-table__header">
            <%= t('application.costs.th.3') %>
          </th>

          <% if model_object_name == 'funding_application' %>
            <th scope="col" class="govuk-table__header">
              <%= t('application.costs.th.vat_amount') %>
            </th>
          <% end %>

          <th scope="col" class="govuk-table__header"></th>

        </tr>

        </thead>

        <tbody class="govuk-table__body">

        <% model_object.project_costs.select{|pc| pc.id.present?}.each do |pc| %>

          <tr class="govuk-table__row">

            <td scope="govuk-table__cell" class="govuk-table__cell">
              <%= pc.cost_type&.humanize&.capitalize %>
            </td>

            <td class="govuk-table__cell">
              <%= pc.description %>
            </td>

            <td class="govuk-table__cell govuk-table__cell--numeric">
              <%= number_to_currency(pc.amount, strip_insignificant_zeros: true) %>
            </td>

            <% if model_object_name == 'funding_application' %>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= number_to_currency(pc.vat_amount, strip_insignificant_zeros: false) %>
              </td>
            <% end %>

            <td scope="govuk-table__cell" class="govuk-table__cell">

              <%=
                form_with model: model_object,
                url: send(delete_path, project_cost_id: pc.id),
                method: :delete,
                local: true do |f|
              %>

                <%=
                  render(
                    ButtonComponent.new(
                      element: 'input',
                      classes: 'govuk-button--warning',
                      text: t('generic.delete')
                    )
                  )
                %>

              <% end %>

            </td>

          </tr>

        <% end %>

        </tbody>

      </table>

      <div class="nlhf-summary__total">

        <h3 class="nlhf-summary__total__title">

          <span class="nlhf-summary__total__title-text">
            <%= t('application.costs.text.3') %>
          </span>

          <span class="nlhf-summary__total__title-val">

            <%
              sum_of_project_costs = calculate_total(
                  model_object.project_costs)

              sum_of_vat = calculate_vat_total(
                  model_object.project_costs)
            %>

            <%=
              number_to_currency(sum_of_project_costs + sum_of_vat, 
                strip_insignificant_zeros: true
              )
            %>

          </span>

        </h3>

      </div>

    <% end %>

  </div>

</section>

<h2 class="govuk-heading-l govuk-!-margin-bottom-6">
  <%= t('application.costs.headings.4') %>
</h2>

<p class="govuk-heading-s">
  <%= t('application.costs.text.4') %>
</p>

<p class="govuk-body">
  <%= t('application.costs.text.5') %>
</p>

<details class="govuk-details  govuk-!-margin-bottom-6"
  data-module="govuk-details">

  <summary class="govuk-details__summary">

    <span class="govuk-details__summary-text">
      <%= t('application.costs.text.7') %>
    </span>

  </summary>

  <div class="govuk-details__text">

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.1.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.1') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.2') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.3') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.4') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.5') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.2.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.2.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.3.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.3.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.15.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.15.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.4.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.4.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.5.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.5.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.6.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.6.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.7.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.7.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.8.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.8.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.9.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.9.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.10.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.10.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.11.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.11.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.12.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.12.text.1') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.12.text.2') %>
    </p>

     <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.13.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.13.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.14.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.14.text.1') %>
    </p>

  </div>

</details>
