<%=
  render partial: "partials/page_title",
  locals: {
      model_object: @funding_application.payment_details,
      page_title: t("payment_legal_sig_account_evidence.page_title")
  }
%>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-xl govuk-!-padding-bottom-2">
      <%=t("payment_legal_sig_account_evidence.caption")%>
    </span>

    <h1 class="govuk-heading-xl">
       <%=t("payment_legal_sig_account_evidence.page_heading")%>
    </h1>

    <p class='govuk-body'>
      <%=t("payment_legal_sig_account_evidence.description")%>
    </p>

    <h2 class="govuk-heading-m">
      <%=t("payment_legal_sig_account_evidence.sub_heading_one")%>
    </h2>

    <p class='govuk-body'>
      <%=t("payment_legal_sig_account_evidence.evidence_we_accept")%>
    </p>

    <p class='govuk-body'>
      <%=t("payment_legal_sig_account_evidence.bank_statements")%>
    </p>

    <h2 class="govuk-heading-m">
      <%=t("payment_legal_sig_account_evidence.sub_heading_two")%>
    </h2>

    <p class='govuk-body'>
       <%=t("payment_legal_sig_account_evidence.evidence_reviewed")%>
    </p>

  </legend>

  <noscript><% no_js = true %></noscript>

  <div id="summary-errors"></div>

  <%=
    render partial: "partials/summary_errors",
          locals: {
              form_object: @funding_application.payment_details,
              first_form_element: :payment_details_legal_signatory_evidence_file
          } if @funding_application.payment_details.errors.any?
  %>

  <%=
    form_with model: @funding_application.payment_details,
    url: :funding_application_bank_details_legal_signatory_evidence,
    method: :post,
    local: no_js ? true : false do |f|
  %>

    <div class="govuk-form-group nlhf-highlight-content govuk-!-margin-bottom-6">
      <fieldset class="govuk-fieldset">
        
        <div class="govuk-form-group <%= "govuk-form-group--error" if @funding_application.payment_details.errors.any? %>" id="legal_signatory_evidence_file-form-group" data-form-group="file">
          
          <%=
            render partial: "partials/form_group_errors",
                    locals: {
                        form_object: @funding_application.payment_details
                    } if @funding_application.payment_details.errors.any?
          %>

          <div class="govuk-form-group">

            <h2 class="govuk-label-wrapper">
              <%=
                f.label :legal_signatory_evidence_file,
                        t('payment_legal_sig_account_evidence.legal_signatory_evidence_file_label'),
                        class: "govuk-label govuk-label--m nlhf-content-highlight__title"
              %>
            </h2>

            <div id="legal_signatory_evidence_file-errors"></div>

            <%=
              f.file_field :legal_signatory_evidence_file,
                          multiple: false,
                          direct_upload: true,
                          class: "govuk-file-upload #{"govuk-file-upload--error" if @funding_application.payment_details.errors.any?}",
                          'data-input-identifier': 'file',
                          'data-attribute': :legal_signatory_evidence_file,
                          'data-model': :funding_application,
                          'autocomplete' => 'off'
            %>

          </div>

          <%# See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
              for the reasoning behind this workaround %>
          <input type="hidden" name="ieworkaround">

          <div class="govuk-form-group">

            <%=
              render(ButtonComponent.new(
                  text: t('payment_legal_sig_account_evidence.buttons.add_evidence.text'),
                  classes: "govuk-button--secondary",
                  ))
            %>
          
          </div>

        </div>

        <% unless @funding_application.payment_details.legal_signatory_evidence_file.attached? %>
          <p class="govuk-body">
            <%= t('payment_legal_sig_account_evidence.no_evidence_uploaded') %>
          </p>
        <% else %>
          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">

                <th scope="col" class="govuk-table__header">
                  <%= I18n.t("payment_legal_sig_account_evidence.legal_signatory_evidence_file") %>
                </th>

              </tr>

            </thead>

            <tbody class="govuk-table__body">

              <tr>

                <td>
                  <%= link_to(@funding_application.payment_details.legal_signatory_evidence_file.blob.filename,
                              rails_blob_path(@funding_application.payment_details.legal_signatory_evidence_file,
                                              disposition: "attachment"))
                  %>
                </td>

              </tr>

            </tbody>

          </table>
        <% end %>

      </fieldset>

    </div>

  <% end %>

  <%=
    form_with model: @funding_application.payment_details,
              url: :funding_application_bank_details_legal_signatory_evidence_submitted,
              method: :post,
              local: true do |f|
  %>

      <%=
        render(
          ButtonComponent.new(
            element: 'button',
            is_start_button: false,
            text: t('buttons.labels.default'),
            name: "save_and_continue"
          )
        )
      %>

  <% end %>

</fieldset>
