<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application,
             page_title:  t('progress_and_spend.tasks.page_title')
         }
%>

<h1 class="govuk-heading-l"><%= t('progress_and_spend.tasks.page_heading')%></h1>

<div class="govuk-!-padding-bottom-6 ">
  <h2 class="govuk-heading-l"> <%=@project_name%> </h2>
  <p> 
    <%= t('progress_and_spend.select_journey.project_reference_number')%><%=@project_reference_num%>
  </p>
  <p> 
    <%= t('progress_and_spend.select_journey.grant_paid')%><%= number_with_precision(@grant_paid, :precision => 2, :delimiter => ',') %>
  </p>
  <p> 
    <%= t('progress_and_spend.select_journey.remaining_grant')%><%= number_with_precision(@remaining_grant, :precision => 2, :delimiter => ',') %>
  </p>
  <p> 
    <%= t('progress_and_spend.select_journey.grant_expiry_date')%><%=@grant_expiry_date%>
  </p>
</div>

<h2 class="govuk-heading-m"><%= t('progress_and_spend.tasks.accept_grant')%></h2>

<ul class="govuk-list nlhf-list nlhf-list--links">
    <li class="nlhf-list__item nlhf-task__item">

      <span class="nlhf-tag-name">
        <%=
          link_to_if( 
            false,
            t('tasks.check_agree_grant'),
            '',
            class: 'govuk-link govuk-link--no-visited-state'
          )
        %>
      </span>

      <%=
        render(
          partial: 'partials/tag_component',
          locals: {
            colour:  get_tag_colour(:completed),
            tag_text: t("generic.completed"),
            tag_id: 'progress-updates_photos'
          }
        )
      %>
    </li>

    <li class="nlhf-list__item nlhf-task__item">

      <span class="nlhf-tag-name">
        <%=
          link_to_if( 
            false,
            t('tasks.agree_terms_conditions'),
            '',
            class: 'govuk-link govuk-link--no-visited-state'
          )
        %>
      </span>

      <%=
        render(
          partial: 'partials/tag_component',
          locals: {
            colour:  get_tag_colour(:completed),
            tag_text: t("generic.completed"),
            tag_id: 'progress-updates_photos'
          }
        )
      %>
    </li>
</ul>

<h2 class="govuk-heading-m"><%= t('progress_and_spend.tasks.get_payment')%></h2>

<ul class="govuk-list nlhf-list nlhf-list--links">

  <% if @complete_progress_tasks %>

    <li class="nlhf-list__item nlhf-task__item">

      <span class="nlhf-tag-name">

      <% if @how_project_going_status == :completed %>
       <%=
          link_to(
             t('progress_and_spend.tasks.links.progress_update'),
            funding_application_progress_and_spend_progress_update_check_your_answers_path(
              progress_update_id: @funding_application.arrears_journey_tracker.progress_update_id
            ),
            class: 'govuk-link govuk-link--no-visited-state',
            aria: { describedby: 'progress-updates_check_your_answers' }
          )
        %>
      <%else%> 
        <%=
          link_to(
            t('progress_and_spend.tasks.links.progress_update'),
            funding_application_progress_and_spend_progress_update_photos_path(
              progress_update_id: @funding_application.arrears_journey_tracker.progress_update_id
            ),
            class: 'govuk-link govuk-link--no-visited-state',
            aria: { describedby: 'progress-updates_photos' }
          )
        %>
      <%end%>

      </span>

      <%=
        render(
          partial: 'partials/tag_component',
          locals: {
            colour:  get_tag_colour(@how_project_going_status),
            tag_text: t("generic.#{@how_project_going_status}"),
            tag_id: 'progress-updates_photos'
          }
        )
      %>

    </li>

    <li class="nlhf-list__item nlhf-task__item">

      <span class="nlhf-tag-name">
        
        <% if @approved_purposes_status == :completed %>
          <%=
            link_to(
              t('progress_and_spend.tasks.links.approved_purposes'),
              funding_application_progress_and_spend_progress_update_check_outcome_answers_path(
                progress_update_id: @funding_application.arrears_journey_tracker.progress_update_id
              ),
              class: 'govuk-link govuk-link--no-visited-state',
              aria: { describedby: 'check_outcome_answers' }
            )
          %>
        <%else%> 
          <%=
            link_to(
              t('progress_and_spend.tasks.links.approved_purposes'),
              funding_application_progress_and_spend_progress_update_approved_purposes_path(
                progress_update_id: @funding_application.arrears_journey_tracker.progress_update_id
              ),
              class: 'govuk-link govuk-link--no-visited-state',
              aria: { describedby: 'approved-purposes-updates' }
            )
          %>
        <%end%>

      </span>

      <%=
        render(
          partial: 'partials/tag_component',
          locals: {
            colour: get_tag_colour(@approved_purposes_status),
            tag_text: t("generic.#{@approved_purposes_status}"),
            tag_id: 'approved-purposes-updates'
          }
        )
      %>

    </li>

  <% end %>

  <% if @complete_payment_tasks %>
    <li class="nlhf-list__item nlhf-task__item">

      <span class="nlhf-tag-name">
        
        <%=
          link_to(
            t('progress_and_spend.tasks.links.spend'),
            funding_application_progress_and_spend_payments_spend_so_far_path(
              payment_request_id: @funding_application.arrears_journey_tracker.payment_request_id
            ),
            class: 'govuk-link govuk-link--no-visited-state',
            aria: { describedby: 'what-you-have-spent' }
          )
        %>

      </span>

      <%=
        render(
          partial: 'partials/tag_component',
          locals: {
            colour: get_tag_colour(@payment_request_status),
            tag_text: t("generic.#{@payment_request_status}"),
            tag_id: 'what-you-have-spent'
          }
        )
      %>

    </li>

    <li class="nlhf-list__item nlhf-task__item">

      <span class="nlhf-tag-name">
        
        <%=
          link_to(
            t('progress_and_spend.tasks.links.bank_details'),
            funding_application_progress_and_spend_payments_have_your_bank_details_changed_path(
              payment_request_id: @funding_application.arrears_journey_tracker.payment_request_id
            ),
            class: 'govuk-link govuk-link--no-visited-state',
            aria: { describedby: 'bank-details' }
          )
        %>

      </span>

      <%=
        render(
          partial: 'partials/tag_component',
          locals: {
            colour: get_tag_colour(@bank_details_status),
            tag_text: t("generic.#{@bank_details_status}"),
            tag_id: 'bank-details'
          }
        )
      %>

    </li>
  <% end %>

</ul>

  <%=
    form_with model: @arrears_journey_tracker,
    url: :funding_application_progress_and_spend_progress_and_spend_tasks,
    method: :post,
    local: true do |f|
  %>

    <%=
      render(
        ButtonComponent.new(
          element: 'input',
          is_start_button: false,
          text: t('progress_and_spend.tasks.links.submit'),
          name: "submit_button",
          disabled: !@can_submit,
          data_disable: true
        )
      )
    %>

  <%end%>

<%= content_for :secondarycontent do %>
  <div class="nlhf-panel" >
    <h2 class="govuk-heading-m">
        <%=t('progress_and_spend.tasks.overview')%>
    </h2>
    <ul class="govuk-list nlhf-list nlhf-list--links">

      <% if @funding_application.agreement&.project_details_html.present? && \
        @funding_application.agreement&.terms_html.present?%>
      <li>
        <span>
          <%=
            link_to(
              t('progress_and_spend.tasks.links.grant_conditions'),
              funding_application_view_signed_path,
              class: 'govuk-link govuk-link--no-visited-state'
            )
          %>
        </span>
      </li>
      <% end %>
      <li>
        <span>
          <%=
            link_to(
              t('progress_and_spend.tasks.links.previous_submissions'),
              funding_application_progress_and_spend_previous_submissions_previous_submission_dates_path(),
              class: 'govuk-link govuk-link--no-visited-state'
            )
          %>
        </span>
      </li>
    </ul>
  </div>
<% end %>
