<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t("progress_and_spend.progress_update.events.page_title")
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @funding_application.arrears_journey_tracker.progress_update,
      first_form_element: :progress_update_has_upload_events_true
    }
  ) if @funding_application.arrears_journey_tracker.progress_update.errors.any?
%>

<fieldset class="govuk-fieldset">
 	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
			<%= t("progress_and_spend.progress_update.events.page_caption") %>
		</span>

		<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
			<%= t("progress_and_spend.progress_update.events.page_heading") %>
		</h1>

		<p class="govuk-body govuk-!-padding-bottom-4">
			<%= t("progress_and_spend.progress_update.events.description") %>
		</p>

	</legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

	<%=
		render(
			partial: 'partials/funding_application/progress_and_spend/file_upload',
			locals: {
				input_field_id:  :'progress_update_event.progress_updates_event_files', 
				form_object: @funding_application.arrears_journey_tracker.progress_update,
				file_model: @funding_application.arrears_journey_tracker.progress_update.progress_update_event,
				file_field: :progress_updates_event_files,
				file_field_model: :progress_update_event,
				radio_button: :has_upload_events,
				radio_true: :has_upload_events_true,
				radio_false: :has_upload_events_false,
				attachments: @attachments_hash,
				translations_local: 'progress_and_spend.progress_update.events',
				url_path:  funding_application_progress_and_spend_progress_update_events_path()

			}
		) 
	%>

</fieldset>
