<%=
  render partial: "partials/page_title",
    locals: {
        model_object: nil,
        page_title: t('salesforce_experience_application.upload_permission_to_start.page_title')
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @salesforce_experience_application,
      first_form_element: :sfx_pts_payment_pts_form_files
    }
  ) if @salesforce_experience_application.errors.any?
%>

<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
  <%= t('salesforce_experience_application.upload_permission_to_start.page_heading') %>
</h1>

<%= 
  form_with model: @salesforce_experience_application,
  url: :sfx_pts_payment_upload_permission_to_start,
  method: :post,
  local: true do |f|
%>

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @salesforce_experience_application.errors.any? %>">

    <p class="govuk-body">
      <%= t('salesforce_experience_application.upload_permission_to_start.page_hint') %>
    </p>
 
    <%=
      render(
        partial: 'partials/form_group_errors',
        locals: {
          form_object: @salesforce_experience_application
        }
      ) if @salesforce_experience_application.errors.any?
    %>

    <section class="nlhf-summary govuk-!-padding-4  govuk-!-margin-bottom-9" id="project-costs">
      <div class="govuk-form-group" id="upload-permission-to-start-form-group-main"
        data-form-group="file">

          <%=
            f.label :pts_form_files,
            t('salesforce_experience_application.upload_permission_to_start.upload'),
            class: "govuk-label govuk-!-font-weight-bold"
          %>

          <%=
            f.file_field :pts_form_files,
            multiple: true,
            direct_upload: true,
            class: "govuk-file-upload",
            'data-input-identifier': 'file',
            'data-attribute': :pts_form_files,
            'data-model': 'sfx_pts_payments',
            'autocomplete' => 'off'
          %>

          <div class="govuk-!-padding-top-6">
            <%=
              render(
                ButtonComponent.new(
                  type: "button",
                  text: "Upload files",
                  classes: "govuk-button--primary ",
                  name: 'add_file_button'
                )
              )
            %>
          </div>
        </div>

        <% if @attached_pts_docs&.first&.present?%>
          <table class="govuk-table" role="presentation">
            <tr class="govuk-table__row">
              <thead class="govuk-table__head">
                  <th class="govuk-table__header">
                    <%= t('generic.uploaded_files') %>
                  </th>
              </thead>
            </tr>
            <tbody>
              <% @attached_pts_docs.each do |blob| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">
                  
                  <div class="govuk-table govuk-!-margin-top-3">
                    <%=
                      link_to(
                        blob.filename,
                        rails_blob_path(
                          blob,
                          disposition: "attachment"
                        ),
                        class: 'govuk-link',
                      )
                    %> 

                    <p>	
                      <%= t('generic.has_been_uploaded') %>
                    </p>
                  </div>
                </td>
                <td>

                  <%=
                    render(
                      partial: 'partials/salesforce_experience_application/delete_button',
                      locals: {
                        blob_id: blob.id,
                      }
                    ) 
                  %>

                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </section>
  </div>

  <%=
    render(
      ButtonComponent.new(
        element: 'input',
        is_start_button: false,
        text: t('buttons.labels.submit'),
        data_disable: true,
        name: "save_and_continue_button"
      )
    )
  %>

<%end%>



