<%=
  render partial: "partials/page_title",
         locals: {
            model_object: @funding_application,
            page_title: t('progress_and_spend.progress_update.funding_acknowledgements.page_title')
         }
%>

<%# Summary errors start %>
<% if @funding_acknowledgement.errors.any? %>

  <div class="govuk-error-summary" aria-labelledby="error-summary-title"
      role="alert" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t('generic.there_is_a_problem') %>
    </h2>

    <div class="govuk-error-summary__body">

      <ul class="govuk-list govuk-error-summary__list">

        <%@funding_acknowledgement.errors.each do |error| %>

					<% unless error.attribute == :no_update_yet %>

						<li>
							<a href='#progress_update_funding_acknowledgement_<%= error.attribute %>_acknowledgement'>
								<%= error.message %>
							</a>
						</li>

					<% else %>

						<a href='#progress_update_funding_acknowledgement_no_update_selected'>
							<%= error.message %>
						</a>

					<% end %>

        <% end %>

      </ul>

    </div>

  </div>

<% end %>
<%# Summary errors end %>


<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
			<%= t('progress_and_spend.progress_update.funding_acknowledgements.page_caption')%>
		</span>

		<h1 class="govuk-heading-l">
			<%= t('progress_and_spend.progress_update.funding_acknowledgements.page_heading')%>
		</h1>

	</legend>

	<div id="heritage_designations-hint" class="govuk-hint">
		<%= t('generic.select_all_that_apply') %>
	</div>

  <%=
		form_with model: @funding_acknowledgement,
		url: funding_application_progress_and_spend_progress_update_funding_acknowledgement_path(),
		method: :post,
		local: true do |f|
	%>

    <div class="govuk-form-group <%= "govuk-form-group--error" if @funding_acknowledgement.errors[:no_update_yet].any? %>">

			<%=
				render partial: "partials/form_input_errors",
					locals: {
						form_object: @funding_acknowledgement,
						input_field_id: :no_update_yet
					} if @funding_acknowledgement.errors[:no_update_yet].any?
			%>

			<%
				# specifies the order that we show the items in
				@funding_acknowledgement.acknowledgements =
					@funding_acknowledgement.acknowledgements.slice(
						'signs',
						'publications',
						'events',
						'online',
						'media',
						'no_update')
			%>

			<%# Loop through acknowledgements and use to populate each checkbox %>
			<% @funding_acknowledgement.acknowledgements.each do |type, value| %>

				<% unless type == 'no_update' %>

					<div class="govuk-form-group <%= "govuk-form-group--error" \
						if @funding_acknowledgement.errors[type.to_sym].any? %>">

						<div class="govuk-checkboxes" data-module="govuk-checkboxes">

							<div class="govuk-checkboxes__item  govuk-!-margin-bottom-4">

								<%=
									f.check_box "#{type}_selected",
									{
										class: "govuk-checkboxes__input",
										'data-aria-controls' => 'conditional-acknowledgement-conditional',
										checked: value['selected'] == 'true' ? 'checked' : nil
									},
									'true',
									'false'
								%>

								<%=
									f.label "#{type}_selected",
									t("progress_and_spend.progress_update.funding_acknowledgements.#{type}"),
									class: "govuk-label govuk-checkboxes__label"
								%>

							</div>

							<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
								id="conditional-acknowledgement-conditional">

								<div class="govuk-character-count" data-module="govuk-character-count"
									data-maxwords="100">

									<div class="govuk-form-group">

										<%=
											render partial: "partials/form_input_errors",
												locals: {
													form_object: @funding_acknowledgement,
													input_field_id: type.to_sym
												} if @funding_acknowledgement.errors[type.to_sym].any?
										%>

										<%=
											f.label "#{type}_acknowledgement",
											t("progress_and_spend.progress_update.funding_acknowledgements.tell_us_about"),
											class: "govuk-label govuk-!-padding-left-2"
										%>

										<%=
											f.text_area "#{type}_acknowledgement",
											rows: 5,
											value: value['acknowledgement'],
											class: "govuk-textarea  #{'govuk-js-character-count' if I18n.locale == :"en-GB"} " \
												"#{'govuk-input--error' if @funding_acknowledgement.errors[type.to_sym].any?}",
											'aria-describedby' => "progress_update_funding_acknowledgement_#{type}_acknowledgement-info"
										%>

										<span id= <%="progress_update_funding_acknowledgement_#{type}_acknowledgement-info"%>
											class="govuk-hint govuk-character-count__message" aria-live="polite">
											<%= t('generic.word_count', max_words:100) %>
										</span>

									</div>

								</div>

							</div>

						</div>

					</div>

				<% end %>

			<% end %>
			<%# Finish acknowledgements loop %>

			<p class="govuk-body">
				<%= t('generic.x_or') %>
			</p>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item  govuk-!-margin-bottom-4">

            <%=
              f.check_box :no_update_selected,
              {
                class: "govuk-checkboxes__input",
								'data-aria-controls' => 'conditional-no-update-conditional',
								checked: @funding_acknowledgement.acknowledgements['no_update']['selected'] == 'true' ? 'checked' : nil
              },
              'true',
              'false'
            %>

            <%=
              f.label :no_update_selected,
							t('progress_and_spend.progress_update.funding_acknowledgements.no_update'),
              class: "govuk-label govuk-checkboxes__label"
            %>

        </div>

				<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
					id="conditional-no-update-conditional">

					<p class="govuk-body">
						<%=
							t('progress_and_spend.progress_update.funding_acknowledgements.grant_guidance_html',
								href: link_to(
									t('progress_and_spend.progress_update.funding_acknowledgements.grant_guidance_href'),
									I18n.locale == :cy ? \
										'https://www.heritagefund.org.uk/cy/publications/sut-i-gydnabod-eich-grant' : \
											'https://www.heritagefund.org.uk/funding/how-acknowledge-your-grant',
									target: '_blank',
									class: 'govuk-link'
								)
							)
						%>
					</p>

				</div>

      </div>

    </div>

    <%= render(
        ButtonComponent.new(
          element: "button",
          text: t('buttons.labels.default')
        )
      )
    %>

  <% end %>

</fieldset>
