<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application.payment_details,
             page_title: t('payment_confirm_details.page_title')
         }
%>

<span class="govuk-caption-xl govuk-!-padding-bottom-2">
  <%=t('payment_confirm_details.sub_heading')%>
</span>

<h1 class="govuk-heading-xl">
  <%= t('payment_confirm_details.page_heading') %>
</h1>

<h2 class="govuk-heading-l">
  <%=t('payment_confirm_details.sub_heading')%>
</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row"  id="name-row">

    <dt class="govuk-summary-list__key">
      <%= t('payment_confirm_details.name_on_account') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_account_name %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('payment_confirm_details.name_on_account')}</span>".html_safe,
                :funding_application_bank_details_enter,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row" id="sort-code-row">

    <dt class="govuk-summary-list__key">
      <%= t('generic.sort_code') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_sort_code %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.sort_code')}</span>".html_safe,
                :funding_application_bank_details_enter,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row" id="account-number-row">

    <dt class="govuk-summary-list__key">
      <%= t('generic.account_number') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_account_number %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.account_number')}</span>".html_safe,
                :funding_application_bank_details_enter,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row" id="building-society-roll-number-row">

    <dt class="govuk-summary-list__key">
      <%= t('payment_confirm_details.building_society_roll_number') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_building_society_roll_number %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.sort_code')}</span>".html_safe,
                :funding_application_bank_details_enter,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>

  </div>

  <div class="govuk-summary-list__row" id="payment-reference-row">

    <dt class="govuk-summary-list__key">
      <%= t('payment_confirm_details.payment_reference') %>
    </dt>

    <dd class="govuk-summary-list__value">
      <%= @funding_application.payment_details.decrypt_payment_reference %>
    </dd>

    <dd class="govuk-summary-list__actions">
      <%=
        link_to "#{t('payment_confirm_details.change')}<span class='govuk-visually-hidden'>
          #{t('payment_confirm_details.change_span')} #{t('generic.sort_code')}</span>".html_safe,
                :funding_application_bank_details_enter,
                class: "govuk-link govuk-link--no-visited-state"
      %>
    </dd>
  </div>

</dl>


<div class="govuk-form-group">

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"> <%= t('payment_confirm_details.warning') %></span>
        <%= t('payment_confirm_details.confirm_responsibility_warning') %>
    </strong>
  </div>

  <%=
    form_with model: @funding_application.payment_details,
              url: :funding_application_bank_details_confirm,
              method: :post,
              local: true do |f|
  %>

      <%=
        render(
          ButtonComponent.new(
            element: 'button',
            is_start_button: false,
            text: t('payment_confirm_details.buttons.confirm_bank_details') ,
            name: "confirm_bank_details"
          )
        )
      %>

  <% end %>

</div>
