<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t("salesforce_experience_application.timetable_work_programme.page_title")
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @salesforce_experience_application,
      first_form_element: :sfx_pts_payment_timetable_work_programme_question_i_will_upload_a_proposed_timetable_or_work_programme,
    }
  ) if @salesforce_experience_application.errors.any?
%>

<span class="govuk-caption-xl govuk-!-padding-bottom-2"><%= t("salesforce_experience_application.timetable_work_programme.page_hint") %></span>
<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
  <%= t("salesforce_experience_application.timetable_work_programme.page_heading") %>
</h1>

<%=
	render(
		partial: 'partials/form_group_errors',
		locals: {
			form_object: @salesforce_experience_application
		}
	) if @salesforce_experience_application.errors.any?
%>

<%= 
	form_with model: @salesforce_experience_application,
  url: :sfx_pts_payment_timetable_work_programme,
  method: :post,
  local: true do |f|
%>

  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

		<%=
			render(
				partial: 'partials/form_input_errors',
				locals: {
					form_object: @salesforce_experience_application,
					input_field_id: :'sfx_pts_payments.timetable_work_programme_question'
				}
			) if @salesforce_experience_application.errors['sfx_pts_payments.timetable_work_programme_question'].any?
		%>

		<div class="govuk-form-group <%= "govuk-form-group--error" if
  	  @salesforce_experience_application.errors.any? %>">

			<div id="sfx_pts_payments.timetable_work_programme_question-errors"></div>

			<div id="form-group-errors"></div>

			<div class="govuk-radios__item govuk-!-margin-bottom-4">

				<%=
					# i18n value passed as value
					f.radio_button :timetable_work_programme_question,
					t('salesforce_experience_application.timetable_work_programme.bullets.i_will_upload'),
					class: "govuk-radios__input",
					"data-aria-controls" => "conditional-timetable_work_programme_question "
				%>

				<%=
					f.label :timetable_work_programme_question_true,
					t('salesforce_experience_application.timetable_work_programme.bullets.i_will_upload'),
					class: "govuk-label govuk-radios__label"
				%>

				<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
					id="conditional-timetable_work_programme_question">

					<div class="govuk-form-group" id="capital-works-form-group-main"
						data-form-group="file">

						<%=
							f.label :timetable_work_programme_files,
							t('salesforce_experience_application.timetable_work_programme.bullets.upload_a_proposed_timetable'),
							class: "govuk-label govuk-!-font-weight-bold"
						%>

						<%=
							f.file_field :timetable_work_programme_files,
							multiple: true,
							direct_upload: true,
							class: "govuk-file-upload",
							'data-input-identifier': 'file',
							'data-attribute': :timetable_work_programme_files,
							'data-model': 'sfx_pts_payments',
							'autocomplete' => 'off'
						%>

						<div class="govuk-!-padding-top-6">
							<%=
								render(
									ButtonComponent.new(
										type: "button",
										text: t('generic.upload_files'),
										classes: "govuk-button--primary ",
										name: 'add_file_button'
									)
								)
							%>
						</div>

					</div>

						<% if @files&.first&.present?%>

							<p class="govuk-body">
									<%= t('generic.uploaded_files') %>
							</p>

							<% @files.each do |blob| %>

								<table class="govuk-table govuk-!-margin-bottom-0">
									<tbody>
										<tr"govuk-table__row">
											<td class="govuk-table__cell">
													<p class="govuk-body">
														<%=
															link_to(
																blob.filename,
																rails_blob_path(
																	blob,
																	disposition: "attachment"
																),
																class: 'govuk-link',
															)
														%>

														<%= t('generic.has_been_uploaded') %>
												</p>
											</td>

											<td class="govuk-table__cell govuk-!-width-one-quarter">

														<%=
															link_to(
																t('generic.delete'),
																sfx_pts_payment_timetable_work_programme_blob_delete_path(blob_id: blob.id),
																class: 'govuk-button govuk-button--warning',
																id: 'delete-file',
																:method => 'delete'
															)
														%>

											</td>

										</tr>

									</tbody>

								</table>

							<% end %>

						<% end %>

				</div>

			</div>

			<div class="govuk-radios__item  govuk-!-margin-bottom-4">

				<%=
					# i18n value passed as value
					f.radio_button :timetable_work_programme_question,
					t('salesforce_experience_application.timetable_work_programme.bullets.i_have_emailed'),
					class: "govuk-radios__input"
				%>

				<%=
						f.label :timetable_work_programme_question_false,
						t('salesforce_experience_application.timetable_work_programme.bullets.i_have_emailed'),
						class: "govuk-label govuk-radios__label"
				%>

			</div>

		</div>

		<%=
			render(
				ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.default'),
					name: "save_and_continue_button"
				)
			)
		%>

		<%#
			See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
			for the reasoning behind this workaround
		%>
    <input type="hidden" name="ieworkaround">
  </div>
<% end %>
