<div class="govuk-character-count" data-module="govuk-character-count"
  data-maxwords="500">

  <div  class="govuk-form-group <%= "govuk-form-group--error" if
    model_object.errors[:main_purpose_and_activities].any? %>">

    <h1 class="govuk-label-wrapper">

      <span class="govuk-caption-xl">
        <%= t('views.organisation.common.about_your_organisation') %>
      </span>

      <%=
        form_object.label :main_purpose_and_activities,
        t('main_purpose_and_activities.page_heading'),
        class: 'govuk-label govuk-label--xl'
      %>

    </h1>

    <%=
      render(
        partial: "partials/form_input_errors",
        locals: {
          form_object: model_object,
          input_field_id: :main_purpose_and_activities
          }
      ) if model_object.errors[:main_purpose_and_activities].any?
    %>

    <%=
      form_object.text_area :main_purpose_and_activities,
      rows: 10,
      class: "govuk-textarea  #{'govuk-js-character-count' if I18n.locale == :"en-GB"} " \
      "#{'govuk-input--error' if
        model_object.errors[:main_purpose_and_activities].any?}",
      'aria-describedby' => 'organisation_main_purpose_and_activities-info'
    %>

    <span id="organisation_main_purpose_and_activities-info"
      class="govuk-hint govuk-character-count__message" aria-live="polite">
      <%= t('generic.word_count', max_words: 500) %>
    </span>

  </div>

</div>
