<div class="govuk-character-count" data-module="govuk-character-count"
  data-maxwords="500">

  <div  class="govuk-form-group <%= "govuk-form-group--error" if
    model_object.errors[:social_media_info].any? %>">

    <h1 class="govuk-label-wrapper">

      <span class="govuk-caption-xl">
        <%= t('views.organisation.common.about_your_organisation') %>
      </span>

      <%=
        form_object.label :social_media_info,
        t('social_media.page_heading'),
        class: 'govuk-label govuk-label--xl'
      %>

    </h1>

    <div id="organisation_social_media_info-hint" class="govuk-hint">
      <%= t('social_media.page_hint') %>
    </div>

    <%=
      render(
        partial: "partials/form_input_errors",
        locals: {
          form_object: model_object,
          input_field_id: :social_media_info
          }
      ) if model_object.errors[:social_media_info].any?
    %>

    <%=
      form_object.text_area :social_media_info,
      rows: 10,
      class: "govuk-textarea  #{'govuk-js-character-count' if I18n.locale == :"en-GB"} " \
      "#{'govuk-input--error' if
        model_object.errors[:social_media_info].any?}",
      'aria-describedby' => 'organisation_social_media_info-info ' \
        'organisation_social_media_info-hint'
    %>

    <span id="organisation_social_media_info-info"
      class="govuk-hint govuk-character-count__message" aria-live="polite">
      <%= t('generic.word_count', max_words: 500) %>
    </span>

  </div>

</div>
