<div class="govuk-form-group <%= "govuk-form-group--error" if
  model_object.errors[:spend_in_last_financial_year].any? %>">

  <h1 class="govuk-label-wrapper">

    <span class="govuk-caption-xl">
      <%= t('views.organisation.common.about_your_organisation') %>
    </span>

    <%= 
      form_object.label :spend_in_last_financial_year,
      t('spend_last_year.page_heading'),
      class: "govuk-label govuk-label--xl govuk-!-margin-bottom-4"
    %>

  </h1>

  <%=
    render(
      partial: 'partials/form_input_errors',
      locals: {
        form_object: model_object,
        input_field_id: :spend_in_last_financial_year
      }
    ) if model_object.errors[:spend_in_last_financial_year].any?
  %>

  <div class="nlhf-currency-denote">

    <div class="nlhf-currency-denote__symbol">
      &pound;
    </div>

    <div class="nlhf-currency-denote__capture">

      <%=
        form_object.text_field :spend_in_last_financial_year,
        'autocomplete' => 'off',
        class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if
          model_object.errors['spend_in_last_financial_year.amount'].any?}",
        value: model_object.errors[:spend_in_last_financial_year].any? ? 
          params[:organisation][:spend_in_last_financial_year] : 
            number_with_precision(
              model_object.spend_in_last_financial_year,
              precision: 2,
              separator: '.',
              delimiter: ','
            )
      %>

    </div>

  </div>

</div>
