<div  class="govuk-form-group <%= "govuk-form-group--error" if
  model_object.errors[:unrestricted_funds].any? %>">

  <h1 class="govuk-label-wrapper">

    <span class="govuk-caption-xl">
      <%= t('views.organisation.common.about_your_organisation') %>
    </span>

    <%=
      form_object.label :unrestricted_funds,
      t('unrestricted_funds.page_heading'),
      class: 'govuk-label govuk-label--xl'
    %>

  </h1>

  <%=
    render(
      partial: "partials/form_input_errors",
      locals: {
        form_object: model_object,
        input_field_id: :unrestricted_funds
        }
    ) if model_object.errors[:unrestricted_funds].any?
  %>

  <div class="nlhf-currency-denote">

    <div class="nlhf-currency-denote__symbol">
      &pound;
    </div>

    <div class="nlhf-currency-denote__capture">

      <%=
        form_object.text_field :unrestricted_funds,
        'autocomplete' => 'off',
        class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if
          model_object.errors[:unrestricted_funds].any?}",
        value: model_object.errors[:unrestricted_funds].any? ? 
          params[:organisation][:unrestricted_funds] : 
          number_with_precision(
            model_object.unrestricted_funds,
            precision: 2,
            separator: '.',
            delimiter: ','
          )
      %>

    </div>

  </div>

</div>
