<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: t('salesforce_experience_application.non_cash_contributions_correct.page_title')
         }
%>

<fieldset class="govuk-fieldset">
  <%=
    render(
      partial: 'partials/summary_errors',
      locals: {
        form_object: @salesforce_experience_application,
        first_form_element: :sfx_pts_payment_non_cash_contributions_correct_true
      }
    ) if @salesforce_experience_application.errors.any?
  %>

  <div class="govuk-form-group <%= "govuk-form-group--error" if
    @salesforce_experience_application.errors.any? %>">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

      <span class="govuk-caption-xl govuk-!-padding-bottom-2">
        <%= t('salesforce_experience_application.non_cash_contributions_correct.page_caption') %>
      </span>

      <h1 class="govuk-heading-l govuk-!-padding-bottom-2">
        <%= t('salesforce_experience_application.non_cash_contributions_correct.page_heading') %>
      </h1>

    </legend>

    <section class="nlhf-summary govuk-!-margin-bottom-9">

      <header class="nlhf-summary__header">

        <h2 class="govuk-heading-m">
          <%= t('salesforce_experience_application.non_cash_contributions_correct.table.name') %>
        </h2>

      </header>

        <div class="nlhf-summary__body">

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">

                  <th scope="col" class="govuk-table__header">
                    <%= t('salesforce_experience_application.non_cash_contributions_correct.table.headings.desc') %>
                  </th>

                  <th scope="col" class="govuk-table__header">
                    <%= t('salesforce_experience_application.non_cash_contributions_correct.table.headings.amount') %>
                  </th>

              </tr>

            </thead>

            <tbody class="govuk-table__body">

              <% @non_cash_contributions.each do |cc| %>

                <tr class="govuk-table__row">

                    <td scope="govuk-table__cell" class="govuk-table__cell">
                      <%= cc[:description_of_funding] %>
                    </td>

                    <td class="govuk-table__cell">
                        <%= number_to_currency(cc[:amount_expected], unit: "",  precision: 2) %>
                    </td>

                </tr>

              <% end %>

            </tbody>

          </table>

        </div>

    </section>

    <%=
      render(
        partial: 'partials/form_group_errors',
        locals: {
          form_object: @salesforce_experience_application
        }
      ) if @salesforce_experience_application.errors.any?
    %>

    <%=   
      form_with model: @salesforce_experience_application,
        url: :sfx_pts_payment_non_cash_contributions_correct,
        method: :post,
        local: true do |f|
    %>

      <div class="govuk-form-group">

          <div class="govuk-radios govuk-radios--conditional govuk-!-padding-bottom-8" data-module="govuk-radios">

            <div class="govuk-radios__item">

              <%=
                f.radio_button :non_cash_contributions_correct,
                true,
                class: "govuk-radios__input"
              %>

              <%=
                f.label :non_cash_contributions_correct_true,
                t('salesforce_experience_application.non_cash_contributions_correct.radio_yes'),
                class: "govuk-label govuk-radios__label"
              %>

            </div>

            <div class="govuk-radios__item">

              <%=
                f.radio_button :non_cash_contributions_correct,
                false,
                class: "govuk-radios__input",
                "data-aria-controls" => "conditional-contributions_are_correct"
              %>

              <%=
                f.label :non_cash_contributions_correct_false,
                t('salesforce_experience_application.non_cash_contributions_correct.radio_no'),
                class: "govuk-label govuk-radios__label"
              %>

            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                id="conditional-contributions_are_correct">

              <p class="govuk-body">
                <%= t('salesforce_experience_application.non_cash_contributions_correct.if_no') %>
              </p>

            </div>
          </div>

          <%= render(
            ButtonComponent.new(
            element: 'button',
            is_start_button: false,
            text: t('buttons.labels.default')
            )
          )%>

      </div>
    <% end %>
  </div>
</fieldset>

