  <%# start of approved purposes list %>
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">

      <dt class="govuk-summary-list__key">
        <%= t('progress_and_spend.progress_update.check_outcome_answers.approved_purposes') %>
      </dt>

        <dd class="govuk-summary-list__actions govuk-!-width-two-thirds"  aria-hidden= <%= "true" if !is_check_your_answers %>>
          <%if is_check_your_answers%>
            <%=
              link_to(
                t('generic.change'),
                funding_application_progress_and_spend_progress_update_approved_purposes_path(
                  progress_update_id: funding_application.arrears_journey_tracker.progress_update_id
                ),
                class: 'govuk-link govuk-link--no-visited-state',
                aria: { describedby: 'approved-purposes-updates' }
              )
            %>
          <%end%>
        </dd>
    

    </div>

    <% unless approved_purposes.empty? %>

      <% approved_purposes.each do | ap | %>

        <div class="govuk-summary-list__row">

          <dd class="govuk-summary-list__value">
            <%= ap.description %>
          </dd>

          <dd class="govuk-summary-list__value">
            <%= ap.progress %>
          </dd>

        </div>

      <% end %>

    <% else # approved purposes empty %>

      <%= t('progress_and_spend.progress_update.check_outcome_answers.no_update_yet') %>

    <% end%>

  </dl>
  <%# end of approved purposes list %>

  <%# start of outcomes list %>
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">

      <dt class="govuk-summary-list__key">
        <%= t('progress_and_spend.progress_update.check_outcome_answers.project_outcomes') %>
      </dt>

      
        <dd class="govuk-summary-list__actions govuk-!-width-two-thirds" aria-hidden= <%= "true" if !is_check_your_answers %> >
          <%if is_check_your_answers%>
            <%=
              link_to(
                t('generic.change'),
                funding_application_progress_and_spend_progress_update_demographic_path(
                  progress_update_id: funding_application.arrears_journey_tracker.progress_update_id
                ),
                class: 'govuk-link govuk-link--no-visited-state',
                aria: { describedby: 'project-outcome-updates' }
              )
            %>
          <%end%>
        </dd>
  

    </div>

    <div class="govuk-summary-list__row">

      <dd class="govuk-summary-list__value">
        <%= t('progress_and_spend.progress_update.demographic.page_heading') %>
      </dd>

      <dd class="govuk-summary-list__value">
        <%= demographic.explanation %>
      </dd>

    </div>

    <% optional_outcomes_progress_updates.each do | pu_key, pu_value | %>

     <div class="govuk-summary-list__row">

        <dd class="govuk-summary-list__value">
          <%= t("progress_and_spend.progress_update.outcome_type.#{pu_key}") %>
        </dd>

        <dd class="govuk-summary-list__value">
          <%= pu_value %>
        </dd>

      </div>

    <% end %>

  </dl>
  <%# end of outcomes list %>
  