<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: t('salesforce_experience_application.signatories.page_title')
         }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @salesforce_experience_application,
      form_object_name: "sfx_pts_payment",
      first_form_element:  :sfx_pts_payments_legal_sig_one
    }
  ) if @salesforce_experience_application.errors.any?
%>

<h1 class="govuk-heading-l ">
  <%= t('salesforce_experience_application.signatories.page_heading') %>
</h1>
<p class="govuk-body govuk-hint govuk-!-padding-bottom-4">
  <%= t('salesforce_experience_application.signatories.page_hint') %>
</p>

  <%= 
    form_with model: @salesforce_experience_application,
    url: :sfx_pts_payment_signatories,
    method: :post,
    local: true do |f|
  %>

    <div class="govuk-form-group govuk-!-padding-bottom-9 
      <%= "govuk-form-group--error" if
        @salesforce_experience_application.errors[:legal_sig_one].any? %>">

      <% if @salesforce_experience_application.errors[:legal_sig_one].any? %>
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden"><%= t('generic.error') %>:</span>
          <%= t('salesforce_experience_application.signatories.no_name_error') %>
        </span>
      <%end%>

      <p class="govuk-body-l">
        <%= t('salesforce_experience_application.signatories.person_for_your_organisation', person_number: 1) %>
      </p>

      <%=
        f.label :legal_sig_one,
        t('organisation.signatories.labels.full_name'),
        class: "govuk-label"
      %>

      <%=
        f.text_field :legal_sig_one,
        class: "govuk-input govuk-input--width-20"
      %>

    </div>

    <div class="govuk-form-group govuk-!-padding-bottom-9
       <%= "govuk-form-group--error" if
        @salesforce_experience_application.errors[:legal_sig_two].any? %>">
      
      <% if   @salesforce_experience_application.errors[:legal_sig_two].any? %>
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden"><%= t('generic.error') %>:</span> 
          <%= t('salesforce_experience_application.signatories.no_name_error') %>
        </span>
      <%end%>

      <p class="govuk-body-l">
        <%= t('salesforce_experience_application.signatories.person_for_your_organisation', person_number: 2) %>
      </p>

      <%=
        f.label :legal_sig_two,
        t('organisation.signatories.labels.full_name'),
        class: "govuk-label"
      %>

      <%=
        f.text_field :legal_sig_two,
        class: "govuk-input govuk-input--width-20"
      %>

    </div>

    <%= render(
        ButtonComponent.new(
        element: 'button',
        is_start_button: false,
        text: t('buttons.labels.default')
        )
      )%>

  <%end%>
