<%=
  render partial: "partials/page_title",
  locals: {
      model_object: @funding_application,
      page_title:  t('progress_and_spend.submit.page_title')
  }
%>

<%if @submitting_payment_request || @submitting_progress_update || @submitting_bank_details%>
  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
    <h1 class="govuk-panel__title govuk-!-margin-bottom-0">
      <%if @submitting_payment_request && !@submitting_progress_update && 
        !@submitting_bank_details%>
        <%= t('progress_and_spend.submit.page_headings.spend_submitted')%>
      <%elsif @submitting_progress_update && !@submitting_payment_request && 
        !@submitting_bank_details%>
        <%= 
          t('progress_and_spend.submit.page_headings.progress_update_submitted')
        %>
      <%elsif @submitting_bank_details && !@submitting_payment_request &&  
        !@submitting_progress_update%>
        <%= 
          t('progress_and_spend.submit.page_headings.bank_details_submitted')
        %>
      <%elsif @submitting_payment_request && @submitting_bank_details && 
        !@submitting_progress_update %>
        <%= 
          t('progress_and_spend.submit.page_headings.spend_and_bank_submitted')
        %>
      <%elsif !@submitting_payment_request && @submitting_bank_details && 
        @submitting_progress_update %>
        <%= 
          t('progress_and_spend.submit.page_headings.progress_update_and_bank_details_submitted')
        %>
      <%elsif @submitting_payment_request && @submitting_progress_update %>
        <%= 
          t('progress_and_spend.submit.page_headings.spend_and_progress_submitted')
          %>
      <%end%>
    </h1>
  </div>

  <p class="govuk-body">
    <%= 
      t('progress_and_spend.submit.confirmation_email', user_email: @user_email )
    %>
  </p>

  <h2 class="govuk-heading-m">
    <%= t('progress_and_spend.submit.what_next.sub_heading')%>
  </h2>

  <%if @submitting_progress_update && !@submitting_payment_request  %>
    <p class="govuk-body">
      <%= t('progress_and_spend.submit.what_next.im_will_contact')%>
    </p>

  <%elsif !@submitting_payment_request && !@submitting_progress_update && @submitting_bank_details%>
    <p class="govuk-body">
      <%= t('progress_and_spend.submit.what_next.bank_details_check')%>
    </p>
  <%else%>
    <p class="govuk-body">
      <%= t('progress_and_spend.submit.what_next.after_our_checks')%>
    </p>
    <p class="govuk-body govuk-!-padding-bottom-6">
      <%= 
        t('progress_and_spend.submit.what_next.you_will_be_paid',
        payment_amount: number_to_currency(@payment_amount))
        %>
    </p>

    <p class="govuk-body">
      <%= t('progress_and_spend.submit.what_next.send_email')%>
    </p>

  <%end%>

  <p class="govuk-body govuk-!-margin-bottom-9">
    <%= t('progress_and_spend.submit.what_next.any_questions')%>
  </p>

  <%=
    render(
      ButtonComponent.new(
          element: "a",
          href: destroy_user_session_path,
          text: t('buttons.labels.sign_out'),
          data_method: 'delete'
      )
    )
  %>
<%else%>
  <div class="govuk-!-padding-bottom-7">
    <h1 class="govuk-heading-l">
      <%= t('progress_and_spend.submit.page_headings.nothing_to_submit')%>
    </h1>

    <p>
      <%= t('progress_and_spend.submit.not_told')%>
    </p>

    <p>
      <%= t('progress_and_spend.submit.need_assistance')%>
    </p>
  </div>

  <%=
    render(
      ButtonComponent.new(
          element: "a",
          href: authenticated_root_path,
          text:  t('progress_and_spend.submit.back_to_manage_projects')
      )
    )
  %>


<%end%>

<%= content_for :secondarycontent do %>
  <div class="nlhf-panel" >
    <h2 class="govuk-heading-m">
      <%= t('progress_and_spend.select_journey.project_information')%>
    </h2>
    <p> 
      <%= t('progress_and_spend.select_journey.project_name')%><%=@project_name%>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.project_reference_number')%><%=@project_reference_num%>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.grant_paid')%><%= number_with_precision(@grant_paid, :precision => 2, :delimiter => ',') %>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.remaining_grant')%><%= number_with_precision(@remaining_grant, :precision => 2, :delimiter => ',') %>
    </p>
    <p> 
      <%= t('progress_and_spend.select_journey.grant_expiry_date')%><%=@grant_expiry_date%>
    </p>
     <span>
        <%=
          link_to(
            @funding_application.is_100_to_250k? ? t('progress_and_spend.tasks.links.previous_submissions') : 
                t('progress_and_spend.tasks.links.previous_submissions_large'),
            funding_application_progress_and_spend_previous_submissions_previous_submission_dates_path(),
            class: 'govuk-link govuk-link--no-visited-state'
          )
        %>
      </span>
  </div>
<% end %>
