<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t('progress_and_spend.previous_submissions.submission_summary.payments_summary.page_title')
    }
%>

<fieldset class="govuk-fieldset">

	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-heading-l govuk-!-padding-bottom-2">
      <%= t('progress_and_spend.previous_submissions.submission_summary.payments_summary.page_heading')%>
    </h1>

	</legend class="govuk-fieldset__legend govuk-fieldset__legend--l">


	<%# Spends table start.%>
	<section class="nlhf-summary govuk-!-margin-bottom-9" id="project-costs">

		<header class="nlhf-summary__header">

			<h2 class="govuk-heading-m">
				<%= t('progress_and_spend.payments.low_spend_summary.your_project_spend') %>
			</h2>

		</header>

		<div class="nlhf-summary__body">

			<table class="govuk-table">

				<thead class="govuk-table__head">

					<tr class="govuk-table__row">

						<th scope="col" class="govuk-table__header govuk-!-width-one-third">
							<%= t('progress_and_spend.payments.low_spend_summary.spend_type') %>
						</th>

						<th scope="col" class="govuk-table__header govuk-!-width-one-third">
							<%= t('progress_and_spend.previous_submissions.submission_summary.payments_summary.amount')%>
						</th>

            <th scope="col" class="govuk-table__header govuk-!-width-one-third">
              <%= t('progress_and_spend.previous_submissions.submission_summary.payments_summary.vat_amount')%>
						</th>

						<%# Voice over skips these empty headers, that are included for table style. %>
						<th scope="col" class="govuk-table__header"></th>
						<th scope="col" class="govuk-table__header"></th>

					</tr>

				</thead>

				<tbody class="govuk-table__body">

					<% @low_spend.each do | ls | %>

						<tr class="govuk-table__row">

							<td class="govuk-table__cell">
								<%= ls.cost_heading %>
							</td>

							<td class="govuk-table__cell">
								<%= ls.total_amount %>
							</td>

              <td class="govuk-table__cell">
								<%= ls.vat_amount %>
							</td>

            <tr>

					<%end%>

					<tr class="govuk-table__body">

						<th scope="row" class="govuk-table__header  govuk-!-padding-top-6"> 
							<%= t('progress_and_spend.previous_submissions.submission_summary.payments_summary.total_costs')%>
						</th>

						<td scope="row" class="govuk-table__header  govuk-!-padding-top-6"> 
							£<%= @update_total %>
						</td>

						<%# Voice over skips these empty headers, that are included for table style. %>

						<th scope="col" class="govuk-table__header"/>
						<th scope="col" class="govuk-table__header"/>
						
					</tr>

				</tbody>

			</table>
		
		</div>

	</section>

	<%# Spends table end.%>

  <%# TODO: High spend table will need adding %>

  <%=
		form_with model: @funding_application.arrears_journey_tracker.payment_request,
		url: funding_application_progress_and_spend_previous_submissions_submission_summary_payments_submission_path(),
		method: :post,
		local: true do |f|
	%>

			<%=
      render(
        ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.continue'),
          name: "continue_button"
        )
      )
    %>

	<% end %>

<fieldset class="govuk-fieldset">
