<%=
  render partial: "partials/page_title",
    locals: {
        model_object: nil,
        page_title: t("salesforce_experience_application.print_form.page_title")
    }
%>

<h1 class="govuk-heading-xl no-print">
  <%= t("salesforce_experience_application.print_form.page_heading") %>
</h1>

<% if I18n.locale.to_s == 'en-GB' %>

  <p class="no-print">
    <script>
      var txt = "Download Permission to Start Form";
      document.write(txt.link('javascript:if(window.print)window.print()'));
    </script>
  </p>

<% end %>

<% if I18n.locale.to_s == 'cy' %>

  <p class="no-print">
    <script>
      var txt = "Download Permission to Start Form";
      document.write(txt.link('javascript:if(window.print)window.print()'));
    </script>
  </p>

<% end %>

<div class="hide-unless-print">
  <img src="<%= image_path("NLHF_Logo_English_Landscape_Black_RGB.jpg") %>" alt="<%= t("header.logo_alt_text") %>" width=60%>
</div>
 

<% if @project_info[:large_application_type] == 'Delivery' %>
  <% phase_name = t('salesforce_experience_application.permissions_to_start.delivery') %>
<% elsif @project_info[:large_application_type] == 'Development' %>
  <% phase_name = t('salesforce_experience_application.permissions_to_start.development') %>
<% end %>

<div class="govuk-!-padding-top-2">
  <h2 class="govuk-heading-l ">
    <%= t('salesforce_experience_application.print_form.phase', name: phase_name) %>
  </h2> 
</div>

<p>
  <%= t("salesforce_experience_application.print_form.project_title") %>
  <%=@project_info[:project_title]%>
</p>

<p>
  <%= t("salesforce_experience_application.print_form.project_reference_number") %>
  <%=@project_info[:project_ref_no]%>
</p>

<p>
  <%= t("salesforce_experience_application.print_form.grant_expiry_date") %>
  <%=@project_info[:grant_expiry_date]%>
</p>

<p>
  <%= t("salesforce_experience_application.print_form.organisation") %>
  <%=@project_info[:org_name]%>
</p>

<div id="approved-purposes" class="pagebreak govuk-!-margin-top-9"> 

  <h3 class="govuk-heading-s">
    <%= t("salesforce_experience_application.print_form.approved_purposes.heading") %>
  </h3>

  <div class="govuk-body govuk-!-padding-bottom-2">
    <% unless @approved_purposes.empty? %>
      <ul class="govuk-list govuk-list--number">
          <% @approved_purposes.each do |ap| %>
            <li> <%= ap %> </li>
          <% end %>
      </ul>
    <% else %>
      <p>
        <%= t("salesforce_experience_application.print_form.approved_purposes.empty") %>
      </p>
    <% end %>
  </div>
</div>

<div id="agreed-costs"class="pagebreak govuk-!-margin-top-6">
  <h3 class="govuk-heading-s">
    <%= t("salesforce_experience_application.print_form.agreed_costs.heading") %>
  </h3>
  
  <% if @pts_answers["agreed_costs_match"] == true.to_s %>
    <section class="nlhf-summary govuk-!-margin-bottom-9" id="project-costs">

      <header class="nlhf-summary__header">

        <h2 class="govuk-heading-m">
          <%= t('salesforce_experience_application.print_form.agreed_costs.table_name') %>
        </h2>

      </header>

        <div class="nlhf-summary__body">

          <table class="govuk-table">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">

                  <th scope="col" class="govuk-table__header">
                    <%= t('salesforce_experience_application.print_form.agreed_costs.cost_heading') %>
                  </th>

                  <th scope="col" class="govuk-table__header">
                    <%= t('salesforce_experience_application.print_form.agreed_costs.agreed_costs') %>
                  </th>

                  <th scope="col" class="govuk-table__header">
                    <%= t('salesforce_experience_application.print_form.agreed_costs.agreed_vat') %>
                  </th>

                  <th scope="col" class="govuk-table__header">
                    <%= t('salesforce_experience_application.print_form.agreed_costs.agreed_total_costs') %>
                  </th>

              </tr>

            </thead>

            <tbody class="govuk-table__body">

              <% @agreed_costs.each do |ac| %>
                <tr class="govuk-table__row">

                    <td scope="govuk-table__cell" class="govuk-table__cell">
                      <%= ac[:cost_heading] %>
                    </td>

                    <td class="govuk-table__cell">
                        <%= number_to_currency(ac[:cost], unit: "",  precision: 2) %>
                    </td>

                    <td class="govuk-table__cell">
                      <%= number_to_currency(ac[:vat], unit: "",  precision: 2) %>
                    </td>

                    <td class="govuk-table__cell">
                      <%= number_to_currency(ac[:total], unit: "",  precision: 2) %>
                    </td>
                </tr>

              <% end %>

              <tr class="govuk-table__row">

                <th scope="govuk-table__cell" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.agreed_costs.total') %>
                </th>

                <td class="govuk-table__cell ">
                    <%= 
                      number_to_currency(
                      @agreed_costs.sum {|ac| ac[:cost] }, 
                      unit: "",
                      precision: 2
                      ) 
                    %>
                </td>

                <td class="govuk-table__cell">
                  <%= 
                    number_to_currency(
                    @agreed_costs.sum {|ac| ac[:vat] }, 
                    unit: "",
                    precision: 2
                    ) 
                  %>
                </td>

                <td class="govuk-table__header">
                  <%= 
                    number_to_currency(
                    @agreed_costs.sum {|ac| ac[:total] }, 
                    unit: "",
                    precision: 2
                    ) 
                  %>
                </td>

              </tr>

            </tbody>  

          </table>

        </div>
        
    </section>

    <div class="govuk-body">

        <p>
          <%= t('salesforce_experience_application.print_form.agreed_costs.total_vat_allocation') %>
          <%= number_to_currency(@total_vat_cost, unit: "£",  precision: 2) %>
        </p>

        <p class="govuk-!-margin-bottom-9">
          <%= t('salesforce_experience_application.print_form.agreed_costs.contingency') %>
          <%= 
            number_to_currency(
            @total_contingency, 
            precision: 2
            ) 
          %>
        </p>

        <p class="govuk-!-padding-bottom-6">
          <%= t('salesforce_experience_application.print_form.agreed_costs.payment_percentage') %>
          <%= @payment_percentage %> %
        </p>

    </div>

  <%else%>

    <p>
      <%= t('salesforce_experience_application.print_form.agreed_costs.not_agreed') %>
    </p>

  <%end%>

</div>

<div class="pagebreak govuk-!-margin-top-8">

<h3 class="govuk-heading-s">
  <%= t('salesforce_experience_application.print_form.cost_breakdown.heading') %>
</h3>

  <% if @pts_answers["has_agreed_costs_docs"] == true.to_s %>
      <table class="govuk-table" role="presentation">
        <tr class="govuk-table__row ">
          <thead class="govuk-table__head">
              <th class="govuk-table__header">
                <%= t('generic.uploaded_files') %>:
              </th>
          </thead>
        </tr>
        <tbody>
          <% @attached_agreed_docs.each do |blob| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell ">
              
              <div class="govuk-table govuk-!-margin-top-3">
                <%=
                  link_to(
                    blob.filename,
                    rails_blob_path(
                      blob,
                      disposition: "attachment"
                    ),
                    class: 'govuk-link',
                  )
                %> 

                <p>	
                  <%= t('generic.has_been_uploaded') %>
                </p>
              </div>
      

            </td>         
          </tr>
          <% end %>

        </tbody>
          
      </table>
  <%else%>

    <p>  
      <%= t('salesforce_experience_application.print_form.cost_breakdown.emailed') %>
    </p>

  <%end%>
</div>

<div class="pagebreak">
  <h2 class="govuk-heading-m govuk-!-margin-top-9">
    <%= t('salesforce_experience_application.print_form.cash_and_non_cash_contributions') %>
  </h2>
</div>

<div class="govuk-!-margin-top-6">
  <h3 class="govuk-heading-s">
    <%= t('salesforce_experience_application.print_form.cash_contributions.heading') %>
  </h3>

  <% if @pts_answers["cash_contributions_correct"] == true.to_s %>
    <section class="nlhf-summary govuk-!-margin-bottom-9">
      <header class="nlhf-summary__header">
        <h2 class="govuk-heading-m">
          <%= t('salesforce_experience_application.print_form.cash_contributions.summary') %>
        </h2>
      </header>
      <div class="nlhf-summary__body">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.cash_contributions.description') %>
                </th>
                <th scope="col" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.cash_contributions.amount') %>
                </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @cash_contributions.each do |cc| %>
              <tr class="govuk-table__row">
                  <td scope="govuk-table__cell" class="govuk-table__cell">
                    <%= cc[:description_of_funding] %>
                  </td>
                  <td class="govuk-table__cell">
                      <%= number_to_currency(cc[:amount_expected], unit: "",  precision: 2) %>
                  </td>
              </tr>
            <% end %>   
          </tbody>
        </table>
      </div>
    </section>
  <%else%>
    <p>
      <%= t('salesforce_experience_application.print_form.cash_contributions.not_correct') %>
    </p>
  <%end%>
</div>

<div class="govuk-!-margin-top-8 pagebreak">
  <h3 class="govuk-heading-s">
    <%= t('salesforce_experience_application.print_form.cc_evidence.heading') %>
  </h3>

  <p><%= @pts_answers["cash_contributions_evidence_question"] %></p>

  <% if @pts_answers["cash_contributions_evidence_question"] == 
    t('salesforce_experience_application.cash_contribution_evidence.' \
      'bullets.yes_i_will_upload')%>

      <table class="govuk-table" role="presentation">
        <tr class="govuk-table__row ">
          <thead class="govuk-table__head">
              <th class="govuk-table__header">
                <%= t('generic.uploaded_files') %>:
              </th>
          </thead>
        </tr>
        <tbody>
          <% @cash_contributions_evidence.each do |blob| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell ">
              
              <div class="govuk-table govuk-!-margin-top-3">
                <%=
                  link_to(
                    blob.filename,
                    rails_blob_path(
                      blob,
                      disposition: "attachment"
                    ),
                    class: 'govuk-link',
                  )
                %> 

                <p>	
                  <%= t('generic.has_been_uploaded') %>
                </p>
              </div>

            </td>         
          </tr>
          <% end %>

        </tbody>
          
      </table>
  <%end%>
</div>

<div class="govuk-!-margin-top-9">
  <h3 class="govuk-heading-s">
    <%= t('salesforce_experience_application.print_form.fundraising_evidence.heading') %>
  </h3>

  <p><%= @pts_answers["fundraising_evidence_question"] %></p>

  <% if @pts_answers["fundraising_evidence_question"] == 
    t('salesforce_experience_application.fundraising_evidence.bullets.yes_i_will_upload')%>
    <table class="govuk-table" role="presentation">
      <tr class="govuk-table__row ">
        <thead class="govuk-table__head">
            <th class="govuk-table__header">
                <%= t('generic.uploaded_files') %>:
            </th>
        </thead>
      </tr>
      <tbody>
        <% @fundraising_evidence_files.each do |blob| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell ">
            <div class="govuk-table govuk-!-margin-top-3">
              <%=
                link_to(
                  blob.filename,
                  rails_blob_path(
                    blob,
                    disposition: "attachment"
                  ),
                  class: 'govuk-link',
                )
              %> 

              <p>	
                <%= t('generic.has_been_uploaded') %>
              </p>
            </div>

          </td>         
        </tr>
        <% end %>

      </tbody>
    </table>
  <%end%>
</div>

<div class="govuk-!-margin-top-9 pagebreak">
  <h3 class="govuk-heading-s">
    <%= t('salesforce_experience_application.print_form.non_cash_contributions.heading') %>
  </h3>

  <% if @pts_answers["non_cash_contributions_correct"] == true.to_s %>
    <section class="nlhf-summary govuk-!-margin-bottom-9">
      <header class="nlhf-summary__header">
        <h2 class="govuk-heading-m">
          <%= t('salesforce_experience_application.print_form.non_cash_contributions.summary') %>
        </h2>
      </header>
      <div class="nlhf-summary__body">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.non_cash_contributions.description') %>
                </th>
                <th scope="col" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.non_cash_contributions.amount') %>
                </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @non_cash_contributions.each do |cc| %>
              <tr class="govuk-table__row">
                  <td scope="govuk-table__cell" class="govuk-table__cell">
                    <%= cc[:description_of_funding] %>
                  </td>
                  <td class="govuk-table__cell">
                      <%= number_to_currency(cc[:amount_expected], unit: "",  precision: 2) %>
                  </td>
              </tr>
            <% end %>   
          </tbody>
        </table>
      </div>
    </section>
  <%else%>
    <p>
      <%= t('salesforce_experience_application.print_form.non_cash_contributions.not_correct') %>
    </p>
  <%end%>
</div>

<div class="pagebreak">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">
    <%= t('salesforce_experience_application.print_form.timetable.section') %>
  </h2>
</div>

<div class="govuk-!-margin-top-6">
  <h3 class="govuk-heading-s">
    <%= t('salesforce_experience_application.print_form.timetable.heading') %>
  </h3>

  <% if @pts_answers["timetable_work_programme_question"] == 	
    t('salesforce_experience_application.timetable_work_programme.bullets.i_will_upload') %>
    <table class="govuk-table" role="presentation">
      <tr class="govuk-table__row ">
        <thead class="govuk-table__head">
            <th class="govuk-table__header">
              <%= t('generic.uploaded_files') %>:
            </th>
        </thead>
      </tr>
      <tbody>
        <% @timetable_work_programme_files.each do |blob| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell ">
            <div class="govuk-table govuk-!-margin-top-3">
              <%=
                link_to(
                  blob.filename,
                  rails_blob_path(
                    blob,
                    disposition: "attachment"
                  ),
                  class: 'govuk-link',
                )
              %> 

              <p>	
                <%= t('generic.has_been_uploaded') %>
              </p>
            </div>

          </td>         
        </tr>
        <% end %>
      </tbody>
    </table>
  <%else%>
    <p>
      <%= t('salesforce_experience_application.print_form.timetable.emailed') %>
    </p>
  <%end%>
</div>

<div>
  <h2 class="govuk-heading-m govuk-!-margin-top-9">
    <%= t('salesforce_experience_application.print_form.project_mgt.section') %>
  </h2>
</div>

<div class="govuk-!-margin-top-6">
  <h3 class="govuk-heading-s">
    <%= t('salesforce_experience_application.print_form.project_mgt.heading') %>
  </h3>

  <% if @pts_answers["project_management_structure_question"] == 	
    t('salesforce_experience_application.project_management_structure.bullets.i_will_upload') %>
    <table class="govuk-table" role="presentation">
      <tr class="govuk-table__row ">
        <thead class="govuk-table__head">
            <th class="govuk-table__header">
              <%= t('generic.uploaded_files') %>:
            </th>
        </thead>
      </tr>
      <tbody>
        <% @project_management_structure_files.each do |blob| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell ">
            <div class="govuk-table govuk-!-margin-top-3">
              <%=
                link_to(
                  blob.filename,
                  rails_blob_path(
                    blob,
                    disposition: "attachment"
                  ),
                  class: 'govuk-link',
                )
              %> 

              <p>	
                <%= t('generic.has_been_uploaded') %>  
              </p>
            </div>

          </td>         
        </tr>
        <% end %>
      </tbody>
    </table>
  <%else%>
    <p>
      <%= t('salesforce_experience_application.print_form.project_mgt.emailed') %>
    </p>
  <%end%>
</div>

<div>
  <h2 class="govuk-heading-m govuk-!-margin-top-9">
    <%= t('salesforce_experience_application.print_form.evidence_ownership.section') %>
  </h2>
</div>

<div class="govuk-!-margin-top-6">
  <h3 class="govuk-heading-s">
    <%= t('salesforce_experience_application.print_form.evidence_ownership.heading') %>
  </h3>

  <p><%= @pts_answers["property_ownership_evidence_question"] %></p>

  <% if @pts_answers["property_ownership_evidence_question"] == 
    t('salesforce_experience_application.property_ownership_evidence.bullets.i_will_upload')%>

    <table class="govuk-table" role="presentation">
      <tr class="govuk-table__row ">
        <thead class="govuk-table__head">
            <th class="govuk-table__header">
              <%= t('generic.uploaded_files') %>:
            </th>
        </thead>
      </tr>
      <tbody>
        <% @property_ownership_evidence_files.each do |blob| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell ">
            <div class="govuk-table govuk-!-margin-top-3">
              <%=
                link_to(
                  blob.filename,
                  rails_blob_path(
                    blob,
                    disposition: "attachment"
                  ),
                  class: 'govuk-link',
                )
              %> 

              <p>	
                <%= t('generic.has_been_uploaded') %>
              </p>
            </div>

          </td>         
        </tr>
        <% end %>
      </tbody>
    </table>
  <%end%>
</div>

<div class="pagebreak">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">
    <%= t('salesforce_experience_application.print_form.statutory_permission.section') %>
  </h2>
</div>

<div>
  <% if @statutory_permission_or_licence.present? %>
    <section class="nlhf-summary govuk-!-margin-bottom-9">
      <header class="nlhf-summary__header">
        <h2 class="govuk-heading-m">
          <%= t('salesforce_experience_application.print_form.statutory_permission.type') %>
        </h2>
      </header>
      <div class="nlhf-summary__body">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.statutory_permission.type') %>
                </th>
                <th scope="col" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.statutory_permission.evidence_y_n') %>
                </th>
                <th scope="col" class="govuk-table__header">
                  <%= t('salesforce_experience_application.print_form.statutory_permission.files') %>
                </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @statutory_permission_or_licence.each do |stat| %>
              <tr class="govuk-table__row">
                  <td scope="govuk-table__cell" class="govuk-table__cell">
                    <%= stat.details_json["licence_type"]%> 
                  </td>
                  <td class="govuk-table__cell">
                    <% if stat.details_json["upload_question"] == 
                      t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.i_will_upload')%>
                      <p>
                        <%= t('generic.yes') %>
                      </p>
                    <% else%>
                      <p>
                        <%= t('generic.no') %>
                      </p>
                    <%end%>
                  </td>
                  <td scope="govuk-table__cell" class="govuk-table__cell">
                    <% stat.upload_files.blobs.each do |blob| %>
                      <p class="govuk-body">
                        <%=
                          link_to(
                            blob.filename,
                            rails_blob_path(
                              blob,
                              disposition: "attachment"
                            ),
                            class: 'govuk-link',
                          )
                        %> 
                      </p>
                      <%end%>
                  </td>
              </tr>
            <% end %>   
          </tbody>
        </table>
      </div>
    </section>
  <%else%>
    <p>
      <%= t('salesforce_experience_application.print_form.statutory_permission.none') %>
    </p>
  <%end%>
</div>

<div class="pagebreak">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">
    <%= t('salesforce_experience_application.print_form.declaration.section') %>
  </h2>
</div>

<div>
  <p class="govuk-body">
    <%= t('salesforce_experience_application.declaration.text.by_completing_this_declaration') %>
  </p>

  <p class="govuk-body">
    <%= t('salesforce_experience_application.declaration.text.we_are_committed_to_being') %>
  </p>

  <p class="govuk-body">
    <%= t('salesforce_experience_application.declaration.text.when_you_completed_the_declaration_at_the_end_of_the_application') %>
  </p>

  <p class="govuk-body">
    <%= t('salesforce_experience_application.declaration.text.we_will_take_these_into_account') %>
  </p>

</div>

<div class="govuk-!-margin-top-6">
  <p class="govuk-body">
    <%= t('salesforce_experience_application.declaration.text.when_you_completed_the_declaration_you_also_agreed') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('salesforce_experience_application.declaration.agreed_list.to_decide') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.agreed_list.to_provide') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.agreed_list.to_share') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.agreed_list.to_hold') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.agreed_list.to_publish') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.agreed_list.to_support') %>
    </li>

  </ul>
</div>

<div class="pagebreak govuk-!-margin-top-6">
  <p class="govuk-body">
    <%= t('salesforce_experience_application.declaration.text.we_may_use_your_photographs') %>
  </p>

  <p>
    <%= t('salesforce_experience_application.declaration.text.i_confirm_that') %>
  </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <%= t('salesforce_experience_application.declaration.i_confirm_that_list.the_organisation_named') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.i_confirm_that_list.the_activity_in_the_application') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.i_confirm_that_list.the_organisation_has_the_power') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.i_confirm_that_list.we_will_keep_to_the_standard_terms') %>
    </li>

    <li>
      <%= t('salesforce_experience_application.declaration.i_confirm_that_list.as_far_as_I_know') %>
    </li>

  </ul>
</div>

<p>
  <%= t('salesforce_experience_application.print_form.declaration.i_agree') %>
</p>

<% if I18n.locale.to_s == 'en-GB' %>

  <p class="no-print">
    <script>
      var txt = "Download Permission to Start Form";
      document.write(txt.link('javascript:if(window.print)window.print()'));
    </script>
  </p>

<% end %>

<% if I18n.locale.to_s == 'cy' %>

  <p class="no-print">
    <script>
      var txt = "Download Permission to Start Form";
      document.write(txt.link('javascript:if(window.print)window.print()'));
    </script>
  </p>

<% end %>

<noscript>
  <div class="govuk-warning-text no-print">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">
      <%= t('generic.warning') %>
    </span>
    <%= t('generic.javascript_off') %>
  </strong>
</div>
</noscript>

<div>
  <%=
  link_to(
    t('buttons.labels.continue'),
    sfx_pts_payment_upload_permission_to_start_path(@salesforce_experience_application.salesforce_case_id),
    class: 'govuk-button no-print govuk-!-margin-top-6'
  )
  %>
</div>

<% # start print-only signature div %>
<div class="hide-unless-print pagebreak govuk-!-margin-top-6">
  <h1 class="govuk-heading-l govuk-!-margin-top-6">
    <%= t('salesforce_experience_application.print_form.declaration.signatories') %>
  </h1>

  <div>

    <h2 class="govuk-heading-s govuk-!-margin-top-6">
      <%= t('salesforce_experience_application.print_form.declaration.person_completing') %>
    </h2>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.full_name') %>: 
      <%=@user.name%>
    </p>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.position') %>: …....................................... 
    <p>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.organisation') %>: 
      <%=@project_info[:org_name]%> 
    <p>

    <div class="govuk-!-margin-top-3">
      <br>
      <p>
        <%= t('salesforce_experience_application.print_form.declaration.signature') %>: …....................................... 
      </p>
    </div>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.date') %>: ....................................... 
    </p>
    
  </div>

  <div class="govuk-!-padding-bottom-2">
    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      <%= t('salesforce_experience_application.print_form.declaration.authorised_signatories_sign') %>
    </h2>
    
    <p>
      <%= t('salesforce_experience_application.print_form.declaration.names_and_sigs') %>
    </p>

    <p class="govuk-heading-s">
      <%= t('salesforce_experience_application.print_form.declaration.signatory_one') %>
    </p>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.full_name') %>: 
      <%=@pts_answers["legal_sig_one"]%>
    </p>

    <div class="govuk-!-margin-top-6">
      <br>
      <p>
        <%= t('salesforce_experience_application.print_form.declaration.signature')%>: …....................................... 
      </p>
    </div>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.date')%>: …....................................... 
    </p>

    <p class="govuk-heading-s">
      <%= t('salesforce_experience_application.print_form.declaration.signatory_two')%>
    </p>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.full_name')%>:
      <%=@pts_answers["legal_sig_two"]%>
    </p>

    <div class="govuk-!-margin-top-6">
      <br>
      <p>
        <%= t('salesforce_experience_application.print_form.declaration.signature')%>: …....................................... 
      </p>
    </div>

    <p>
      <%= t('salesforce_experience_application.print_form.declaration.date')%>: ….......................................
    </p>

  </div>

  <% if @pts_answers["partnership_application"] == 
    true.to_s%>
    <div class="govuk-!-padding-top-6 pagebreak">
      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        <%= t('salesforce_experience_application.print_form.declaration.project_partner')%>
      </h2>

      <p>
        <%= t('salesforce_experience_application.print_form.declaration.project_partner_org_name')%>:
      </p>

      <p>…..................................</p>

      <p>
        <%= t('salesforce_experience_application.print_form.declaration.behalf_partner')%>:
      </p>

      <p><%=@pts_answers["project_partner_name"]%></p>

      <p>
        <%= t('salesforce_experience_application.print_form.declaration.position_partner')%>:
      </p>

      <p>…..................................</p>  

      <div class="govuk-!-margin-top-6">
        <br>
        <p>
          <%= t('salesforce_experience_application.print_form.declaration.signature')%>: …....................................... 
        </p>
      </div>

      <p>
        <%= t('salesforce_experience_application.print_form.declaration.date')%>: …............................. 
      </p>

    </div>
  <%end%>

  <div class="govuk-!-padding-top-4 pagebreak">
    <section class="nlhf-summary govuk-!-padding-6">
      <h2 class="govuk-heading-m govuk-!-margin-top-3">
        <%= t('salesforce_experience_application.print_form.declaration.NHMF_sign')%>
      </h2>

      <p class="govuk-!-font-weight-bold">
        <%= t('salesforce_experience_application.print_form.declaration.NLHF_use')%>
      </p>

      <p>
        <%= t('salesforce_experience_application.print_form.declaration.permission_given')%>
      </p>

      <div class="govuk-!-margin-top-6">
        <br>
        <p>
          <%= t('salesforce_experience_application.print_form.declaration.signed_for_NHMF')%>: …....................................... 
        </p>
      </div>

      <p>
        <%= t('salesforce_experience_application.print_form.declaration.date')%>: …....................................... 
      </p>

    </section>
  </div>

<% # end print-only signature div %>
</div>
