<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t("salesforce_experience_application.statutory_permission_or_licence.files.page_title")
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @statutory_permission_or_licence,
      first_form_element: :statutory_permission_or_licence_upload_question_i_will_upload_evidence,
    }
  ) if @statutory_permission_or_licence.errors.any?
%>

<fieldset class="govuk-fieldset">
	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		<span class="govuk-caption-xl govuk-!-padding-bottom-2"><%= t("salesforce_experience_application.statutory_permission_or_licence.files.page_hint") %></span>
		<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
			<%= t("salesforce_experience_application.statutory_permission_or_licence.files.page_heading") %>
		</h1>
	</legend>

	<%=
		render(
			partial: 'partials/form_group_errors',
			locals: {
				form_object: @statutory_permission_or_licence
			}
		) if @statutory_permission_or_licence.errors.any?
	%>

	<%= 
		form_with model: @statutory_permission_or_licence,
		url: :sfx_pts_payment_statutory_permission_or_licence_files,
		method: :post,
		local: true do |f|
	%>

		<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

			<%=
				render(
					partial: 'partials/form_input_errors',
					locals: {
						form_object: @statutory_permission_or_licence,
						input_field_id: :'sfx_pts_payments.upload_question'
					}
				) if @statutory_permission_or_licence.errors['sfx_pts_payments.upload_question'].any?
			%>

			<div class="govuk-form-group <%= "govuk-form-group--error" if
				@statutory_permission_or_licence.errors.any? %>">

				<div id="sfx_pts_payments.upload_question-errors"></div>

				<div id="form-group-errors"></div>

				<div class="govuk-radios__item govuk-!-margin-bottom-4">

					<%=
						# i18n value passed as value
						f.radio_button :upload_question,
						t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.i_will_upload'),
						class: "govuk-radios__input",
						"data-aria-controls" => "conditional-upload_question "
					%>

					<%=
						f.label "upload_question_" + t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.i_will_upload').parameterize.underscore,
						t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.i_will_upload'),
						class: "govuk-label govuk-radios__label"
					%>

					<div class="govuk-radios__conditional govuk-radios__conditional--hidden"
						id="conditional-upload_question">

						<div class="govuk-form-group" id="statutory-permission-or-licence-file-upload-form-group-main"
							data-form-group="file">

							<%=
								f.label :upload_files,
								t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.upload_evidence'),
								class: "govuk-label govuk-!-font-weight-bold"
							%>

							<%=
								f.file_field :upload_files,
								multiple: true,
								direct_upload: true,
								class: "govuk-file-upload",
								'data-input-identifier': 'file',
								'data-attribute': :upload_files,
								'data-model': 'sfx_pts_payments',
								'autocomplete' => 'off'
							%>

							<div class="govuk-!-padding-top-6">
								<%=
									render(
										ButtonComponent.new(
											type: "button",
											text: t('generic.upload_files'),
											classes: "govuk-button--primary ",
											name: 'add_file_button'
										)
									)
								%>
							</div>

						</div>

							<% if @files&.first&.present?%>
									<table class="govuk-table" role="presentation">
											<tr class="govuk-table__row">
												<thead class="govuk-table__head">
														<th class="govuk-table__header">
															<%= t('generic.upload_files') %>
														</th>
												</thead>
											</tr>
											<tbody>
												<% @files.each do |blob| %>
												<tr class="govuk-table__row">
													<td class="govuk-table__cell ">
														
														<div class="govuk-table govuk-!-margin-top-3">
															<%=
																link_to(
																	blob.filename,
																	rails_blob_path(
																		blob,
																		disposition: "attachment"
																	),
																	class: 'govuk-link',
																)
															%> 

															<p>	
																<%= t('generic.has_been_uploaded') %>
															</p>
														</div>
										

													</td>
													<td>
													
														<%=
															render(
																partial: 'partials/salesforce_experience_application/delete_button',
																locals: {
																	blob_id: blob.id,
																}
															) 
														%>
													
													</td>
												</tr>
												<% end %>
											</tbody>
										</table>
							<% end %>

					</div>

				</div>

				<div class="govuk-radios__item  govuk-!-margin-bottom-4">

					<%=
						# i18n value passed as value
						f.radio_button :upload_question,
						t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.no_i_do_not_have_evidence'),
						class: "govuk-radios__input"
					%>

					<%=
							f.label  "upload_question_" + t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.no_i_do_not_have_evidence').parameterize.underscore,
							t('salesforce_experience_application.statutory_permission_or_licence.files.bullets.no_i_do_not_have_evidence'),
							class: "govuk-label govuk-radios__label"
					%>

				</div>

			</div>

			<%=
				render(
					ButtonComponent.new(
						element: 'button',
						is_start_button: false,
						text: t('buttons.labels.default'),
						name: "save_and_continue_button"
					)
				)
			%>

			<%#
				See https://blog.yorkxin.org/2014/02/06/ajax-with-formdata-is-broken-on-ie10-ie11.html
				for the reasoning behind this workaround
			%>
			<input type="hidden" name="ieworkaround">
		</div>
	<% end %>
</fieldset>
