<%=
  render partial: "partials/page_title",
  locals: {
      model_object: @funding_application,
      page_title:  t('import.is_this_your_project.import_possible.title')
  }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @funding_application,
      first_form_element: :funding_application_migrated_details_correct
    }
  ) if @funding_application.errors.any?
%>

<fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-heading-l"><%= t('import.is_this_your_project.import_possible.heading')%></h1>
    <h2 class="govuk-heading-m"><%= t('import.is_this_your_project.import_possible.logged_in_as', user_email: current_user.email)%></h2>
    <p><%= t('import.is_this_your_project.import_possible.these_are_project_details')%></p>
    <p><%= t('import.is_this_your_project.import_possible.click_continue')%></p>
    <p>
      <%=t('import.is_this_your_project.import_possible.contact_your_investment_manager', investment_manager: @salesforce_info_for_page.Owner.Name )%>
    </p>
    
  </legend>

  <h2 class="govuk-heading-m"><%= t('import.is_this_your_project.import_possible.project_details.heading')%> </h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t('import.is_this_your_project.import_possible.project_details.project_title')%> 
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @salesforce_info_for_page.Project_Title__c %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
         <%= t('import.is_this_your_project.import_possible.project_details.project_ref_num')%> 
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @salesforce_info_for_page.Project_Reference_Number__c %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       <%= t('import.is_this_your_project.import_possible.project_details.organisation')%> 
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @salesforce_info_for_page.Account.Name %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t('import.is_this_your_project.import_possible.project_details.address')%> 
      </dt>
      <dd class="govuk-summary-list__value">
        <p>
          <%= @salesforce_info_for_page.Project_Street__c %>
        </p>
        <p>
          <%= @salesforce_info_for_page.Project_City__c %>
        </p>
        <p>
          <%= @salesforce_info_for_page.Project_County__c %>
        </p>
        <p>
          <%= @salesforce_info_for_page.Project_Post_Code__c %>
        </p>
      </dd>
    </div>
  </dl>

  <%=
    form_with model: @funding_application,
    url: import_is_this_your_project_path(),
    method: :post,
    local: true do |f|
  %>

  <div class="govuk-inset-text">
    <p>
      <%= t('import.is_this_your_project.import_possible.continue_if_correct_pt1') %><%= link_to(t('buttons.labels.sign_out').downcase, destroy_user_session_path, method: :delete, class: 'nlhf-toolbar__link')%><%= t('import.is_this_your_project.import_possible.continue_if_correct_pt2') %> 
    </p>
    <p>
       <%= t('import.is_this_your_project.import_possible.when_you_continue')%> 
    </p>
  </div>

    <div class="govuk-form-group <%= "govuk-form-group--error" if
      @funding_application.errors.any? %>">

      <%=
        render(
          partial: 'partials/form_group_errors',
          locals: {
            form_object: @funding_application
          }
        ) if @funding_application.errors.any?
      %>
    
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item  govuk-!-margin-bottom-4">

          <%=
            f.check_box :migrated_details_correct,
            {
              class: "govuk-checkboxes__input",
            },
            true, 
            false
          %>

          <%=
            f.label :migrated_details_correct,
            t("import.is_this_your_project.import_possible.details_are_correct"),
            class: "govuk-label govuk-checkboxes__label"
          %>

        </div>

      </div>
    </div>

    <%=
      render(
        ButtonComponent.new(
          element: 'button',
          is_start_button: false,
          text: t('buttons.labels.continue'),
          name: "continue_button"
        )
      )
    %>

	<% end %>

</fieldset>

