<div class="nlhf-add-item govuk-!-margin-bottom-4">

  <header class="nlhf-add-item__header" id="add-non-cash">

    <h2 class="govuk-heading-l">
      <%= t('application.non_cash_contributions.headings.3') %>
    </h2>

  </header>

  <div class="nlhf-add-item__body">

    <div class="nlhf-add-item__row">

      <div class="govuk-inset-text">
      
        <h3 class="govuk-heading-m">
          <%= t('application.non_cash_contributions.headings.4') %>
        </h3>

        <p class="govuk-body">
          <%= t('application.non_cash_contributions.text.1') %>
        </p>

        <p class="govuk-body">
          <%= t('application.non_cash_contributions.text.2') %>
        </p>          
      
      </div>

    </div>

    <div class="nlhf-add-item__row">

      <div class="govuk-character-count" data-module="govuk-character-count"
        data-maxwords="50">

        <div class="govuk-form-group <%= "govuk-form-group--error" if
          model_object.errors['non_cash_contributions.description'].any? %>">

          <%=
            render(
              partial: 'partials/form_input_errors',
              locals: {
                form_object: model_object,
                input_field_id: :'non_cash_contributions.description'
              }
            ) if model_object.errors['non_cash_contributions.description'].any?
          %>

          <%=
            form_object.label :description,
            t('application.non_cash_contributions.labels.description'),
            class: 'govuk-label'
          %>

          <%=
            form_object.text_area :description,
            rows: 5,
            class: "govuk-textarea #{'govuk-textarea--error' if
              model_object.errors['non_cash_contributions.description'].any?} govuk-js-character-count",
            'aria-describedby' => 'project_non_cash_contributions_attributes_0_description-info',
            value: "#{flash[:description] if flash[:description].present?}"
          %>

        </div>

        <span class="govuk-hint govuk-character-count__message"
          id="project_non_cash_contributions_attributes_0_description-info"></span>

      </div>

    </div>

    <div class="nlhf-add-item__row">

      <div class="govuk-form-group <%= "govuk-form-group--error" if
        model_object.errors['non_cash_contributions.amount'].any? %>">

        <%=
          render(
            partial: 'partials/form_input_errors',
            locals: {
              form_object: model_object,
              input_field_id: :'non_cash_contributions.amount'
            }
          ) if model_object.errors['non_cash_contributions.amount'].any?
        %>

        <%=
          form_object.label :amount,
          t('application.non_cash_contributions.labels.estimated_value'),
          class: 'govuk-label'
        %>

        <span id="project_non_cash_contributions_attributes_0_amount-hint"
          class="govuk-hint govuk-!-font-size-17">
          <%= t('application.non_cash_contributions.text.5') %>
        </span>

        <div class="nlhf-currency-denote">

          <div class="nlhf-currency-denote__symbol">&pound;</div>

          <div class="nlhf-currency-denote__capture">

            <%=
              form_object.text_field :amount,
              min: 1,
              class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if
                model_object.errors['non_cash_contributions.amount'].any?}",
              'autocomplete' => 'off',
              value: "#{flash[:amount] if flash[:amount].present?}"
            %>

          </div>

        </div>

      </div>

    </div>

    <div class="nlhf-add-item__row">

      <%=
        render(
          ButtonComponent.new(
            element: 'input',
            text: t('application.non_cash_contributions.buttons.1'),
            classes: 'govuk-button--secondary'
          )
        )
      %>

    </div>

  </div>

</div>
