<%=
  render partial: "partials/page_title",
    locals: {
      model_object: nil,
      page_title: t('progress_and_spend.progress_update.procurement.procured_goods.page_title')
    }
%>

<%=
  render(
    partial: 'partials/summary_errors',
    locals: {
      form_object: @funding_application.arrears_journey_tracker.progress_update,
      first_form_element: :progress_update_has_procured_goods_true
    }
  ) if @funding_application.arrears_journey_tracker.progress_update.errors.any?
%>

<fieldset class="govuk-fieldset">
 	<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

		<span class="govuk-caption-xl govuk-!-padding-bottom-2">
			<%= t('progress_and_spend.progress_update.procurement.procured_goods.page_caption')%>
		</span>

		<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
      <%= t('progress_and_spend.progress_update.procurement.procured_goods.page_heading')%> 
		</h1>

		<p class="govuk-body govuk-!-padding-bottom-4">
			<%= t('progress_and_spend.progress_update.procurement.procured_goods.desc')%> 
		</p>

	</legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

	<%=
		render(
			partial: 'partials/form_group_errors',
			locals: {
				form_object: @funding_application.arrears_journey_tracker.progress_update
			}
		) if @funding_application.arrears_journey_tracker.progress_update.errors.any?
	%>

  <%= 
		form_with model: @funding_application.arrears_journey_tracker.progress_update,
		url: funding_application_progress_and_spend_progress_update_procurement_procured_goods_path(),
		method: :post,
		local: true do |f|
	%>

		<div class="govuk-radios" data-module="govuk-radios">

			<%=
				render(
					partial: 'partials/form_input_errors',
					locals: {
						form_object:  @funding_application.arrears_journey_tracker.progress_update,
						input_field_id:  :'progress_update_photo.has_procured_goods'
					}
				) if  @funding_application.arrears_journey_tracker.progress_update.errors.any? 
			%>

			<div class="govuk-form-group <%= "govuk-form-group--error" if
		     @funding_application.arrears_journey_tracker.progress_update.errors.any? %>">

				<div id="form-group-errors"></div>

				<div class="govuk-radios__item">

					<%=
						f.radio_button :has_procured_goods,
						true,
						class: "govuk-radios__input",
						"data-aria-controls" => "conditional-has_upload"
					%>
								
					<%=
						f.label :has_procured_goods_true,
						t('progress_and_spend.progress_update.procurement.procured_goods.has_procured_goods_true'),
						class: "govuk-label govuk-radios__label"
					%>

				</div>

				<div class="govuk-radios__item  govuk-!-margin-bottom-9">

					<%=
						f.radio_button :has_procured_goods,
						false,
						class: "govuk-radios__input"
					%>

					<%=	
							f.label :has_procured_goods_false,
              t('progress_and_spend.progress_update.procurement.procured_goods.has_procured_goods_false'),
							class: "govuk-label govuk-radios__label"
					%>

				</div>
			
			</div>

			<%=
				render(
					ButtonComponent.new(
						element: 'button',
						is_start_button: false,
						text: t('buttons.labels.default'),
						name: "save_and_continue_button"
					)
				)
			%>
		</div>
	<% end %>
</fieldset>
