<%# currently a copy of the small/medium application journey accordian %>
<%# small and medium journeys do not point at this accordian %>
<%# this is temporary arrears journey content for now, may be replaced with %>
<%# something dynamic that only reflects chosen cost types %>
<details class="govuk-details  govuk-!-margin-bottom-6"
  data-module="govuk-details">

  <summary class="govuk-details__summary">

    <span class="govuk-details__summary-text">
      <%= t('application.costs.text.help_with_spend_types') %>
    </span>

  </summary>

  <div class="govuk-details__text">

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.1.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.1') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.2') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.3') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.4') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.1.text.5') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.2.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.2.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.3.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.3.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.15.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.15.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.4.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.4.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.5.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.5.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.6.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.6.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.7.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.7.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.8.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.8.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.9.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.9.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.10.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.10.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.11.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.11.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.12.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.12.text.1') %>
    </p>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.12.text.2') %>
    </p>

     <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.13.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.13.text.1') %>
    </p>

    <h3 class="govuk-heading-s">
      <%= t('application.costs.cost_types.14.heading') %>
    </h3>

    <p class="govuk-body">
      <%= t('application.costs.cost_types.14.text.1') %>
    </p>

  </div>

</details>
